@import "variables_and_mixins";

.tagsSection--selectedTagsContainer {
  margin: 5px 0 30px 0;
}

.tagsSection--selectedTagsList {
  padding-left: 10px !important;
}

.tagsSection--selectedTagsList > .tagsList--tag {
  margin: 0 5px 0 0;
}

.tagsSection--highlightedTag {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #343838;
  margin: 0 0 60px 0;
}

.tagsList--tag {
  margin: 5px 5px 5px 0;
  padding: 0 10px;
  display: inline-block;
  @include fullyCustomTransition("background-color", ".2s", "ease-in-out", "0s");
}

.tagsList--tag.fromCloud {
  color: white;
  cursor: pointer;
  background-color: rgba(0,0,0,.3);
  border: 1px solid rgba(0,0,0,.15);
}

.tagsList--tag.fromCloud:not(.isSelected):hover {
  background-color: rgba(0,0,0,.5);
}

.tagsList--tag.fromCloud.isSelected {
  background-color: $base-gray;
}

.tagsList--tag.isSearched {
  background-color: white;
  color: $base-gray;
  border: 1px solid $base-gray;
}