%tr
  %td{colspan: "2", align: "center", valign: "top", style: "font-size: 1.5em;"}= t(:invited_mail_pt1)
%tr
  %td{colspan: "2", align: "center", valign: "top", style: "color: #068C9E; font-size: 2em;"}= @user.name
%tr
  %td{colspan: "2", align: "center", valign: "top", style: "font-size: 1.5em;"}= t(:invited_mail_pt2_html)
%tr
  %td{colspan: "2", align: "left", valign: "top"}
    = image_tag "email/white.jpg", width: "800", height: "55", alt: ""
%tr
  %td{colspan: "2", align: "center", valign: "top"}
    = link_to t(:signup), root_url, style: "font-size: 1.5em; padding: 5px 50px; border: 1px solid black; color: black; text-decoration: none;"
%tr
  %td{colspan: "2", align: "center", valign: "top"}
    = link_to t(:see_profile), user_show_url(@user), style: "font-size: 1.5em; padding: 5px 50px; border: 1px solid black; color: black; text-decoration: none;"