%tr
  %td{colspan: "2", align: "center", valign: "top", style: "font-size: 1.5em;"}= t(:new_follower_mail_description_pt1_html)
%tr
  %td{colspan: "2", align: "center", valign: "top", style: "color: #068C9E; font-size: 2em;"}= @follower.name
%tr
  %td{colspan: "2", align: "center", valign: "top", style: "font-size: 1.5em;"}= t(:new_follower_mail_description_pt2_html)
%tr
  %td{colspan: "2", align: "left", valign: "top"}
    = image_tag "email/white.jpg", width: "800", height: "55", alt: ""
%tr
  %td{colspan: "2", align: "center", valign: "top"}
    = link_to t(:see_profile), user_show_url(@follower), style: "font-size: 1.5em; padding: 5px 50px; border: 1px solid black; color: black; text-decoration: none;"