%section.userHeader.scribeGrid--row.isUnlogged
  .scribeGrid--newContainer
    .userHeader--aboutScribe.scribeGrid--newColumn8.scribeGrid--gutterTop1.scribeGrid--gutterRight3.scribeGrid--mobile-noGutterTop.scribeGrid--mobile-noGutterRight
      %h1.u-lightFont= t(:what_is_scribe)
      %div.u-lightFont= t(:scribe_description)
      %h3.u-lightFont.u-centralized.u-hidden.u--mobile-xsShown= t(:signup)
      %ul.userHeader--signupMenu.u-hidden.u--mobile-xsShown
        %li.socialBtn.socialBtn--email.readerIcons
          %a{href: '#', class: 'js-toggleModal', data: {modal: '.scribeModal.signupModal'}}= t('activerecord.attributes.user.email')
        %li.socialBtn.socialBtn--facebook.readerIcons
          %a{href: "auth/facebook"}= "Facebook"
        %li.socialBtn.socialBtn--twitter.readerIcons
          %a{href: "auth/twitter"}= "Twitter"
  .userHeader--signup.scribeGrid--gutterTop1.u--mobile-xsHidden
    %h3.u-lightFont.u-centralized= t(:join_everyone)
    %ul.userHeader--signupMenu
      %li.socialBtn.socialBtn--email.readerIcons
        %a{href: root_url(anchor: "subscribe")}= t('activerecord.attributes.user.email')
      %li.socialBtn.socialBtn--facebook.readerIcons
        %a{href: "auth/facebook"}= "Facebook"
      %li.socialBtn.socialBtn--twitter.readerIcons
        %a{href: "auth/twitter"}= "Twitter"
  = render "users/user_header_nav"