@import "variables_and_mixins";

.textContainer {
  width: 50em;
  margin: 0 auto;
  @include basicTransition(.2s);
}

@media (max-width: $screen-xs-max) {

  .textContainer {
    width: auto;
    padding: 0 1.875em;
  }

  .side-comment {
    display: none;
  }

  .commentable-section {
    padding-right: 0;
  }
}