@import "variables_and_mixins";

.textSidebar {
  width: 60px;
  padding: 0;
  list-style: none;
  background-color: white;
}

.textSidebar.isInsideText {
  position: absolute;
  top: 0;
  left: -140px;
}

.textSidebar > li {
  cursor: pointer;
  border-right: 1px solid $base-medium-light-gray;
  color: $base-medium-light-gray;
  height: 60px;
}

.textSidebar > li:not(:first-child):not(:last-child) {
  border-bottom: 1px solid $base-medium-light-gray;
}

.textSidebar > li > a {
  height: inherit;
  display: block;
}

.textSidebar--datesContainer {
  height: 80px !important;
  padding: 5px 0;
}

.textSidebar--category,
.textSidebar--language {
  line-height: 60px;
}

.textSidebar--share {
  background: image-url('icons/gray_share_icon.svg') center center no-repeat transparent;
}

.textSidebar--share > a {
  display: block;
  height: inherit;
}

.textSidebar--tags {
  background: image-url('icons/gray_tag_icon.svg') center center no-repeat transparent;
  @include basicTransition(.2a);
}

.textSidebar .tooltip,
.textSidebar ~ .tooltip {
  min-width: 150px;
}