@import "variables_and_mixins";
.textFooter {
  padding: 3.125em 0;
}

.textFooter--shareBoard > ul {
  @include centralizedMenu(3,150px);
}

.textFooter--bookshelfBoard > ul {
  @include centralizedMenu(1,200px);
}

.textFooter--bookshelfBoard > ul,
.textFooter--shareBoard > ul {
  padding: 1.875em 0;
}

.textFooter--shareBoard,
.textFooter--bookshelfBoard,
.textFooter--authorDetails {
  padding: 1.250em 0;
}

.recommendation--count {
  font-size: 14px;
  width: 25px;
  height: 30px;
  line-height: 30px;
  color: $base-dark-red;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}