@import "variables_and_mixins";

.textHeader {
  position: relative;
  z-index: 1;
}

.textHeader.noCover {
  min-height: 150px;
  padding-top: 100px;
  padding-bottom: 25px;
}

.textHeader.hasCover {
  min-height: 100%;
}

.textHeader--title {
  margin: 0;
  font-family: 'Lato', serif;
  word-wrap: break-word;
  color: $base-gray;
  position: relative;
  z-index: 10;
}

h1.textHeader--title {
  font-size: 3.125em;
  font-weight: 800;
}

h2.textHeader--title {
  font-size: 1.5em;
  font-weight: 300;
}

.textHeader.hasCover > .textContainer {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -25em;
}

@media (max-width: $screen-xs-max) {

  .textHeader.hasCover > .textContainer {
    left: 0;
    margin-left: 0;
  }

  .textHeader--mobile-aboutAuthor {
    word-wrap: break-word;
    color: $base-gray;
    position: relative;
    font-weight: 300;
    top: 5px;
    z-index: 10;
    font-size: 1.25em;
  }

  h2.textHeader--title {
    font-size: 2em;
  }
}