@import "variables_and_mixins";
@import "components/scribe_grid";

.textBlock--container,
.textBlock--textInfo {
  position: relative;
  float: left;
  width: 100%;
}

.textBlock--container > .textBlock--textDetails,
.textBlock--container > .textBlock--actionsContainer,
.textBlock--container > .textBlock--aboutAuthor {
  @extend .scribeGrid--0-halfColumnHeight;
}

.textBlock--container.isHalfSized {
  @extend .scribeGrid--newColumn8;
  @extend .scribeGrid--columnHeight8;
  @extend .scribeGrid--gutterBottom2;
}

.textBlock--container.isHalfSized > .textBlock--textDetails,
.textBlock--container.isHalfSized > .textBlock--actionsContainer,
.textBlock--container.isHalfSized > .textBlock--aboutAuthor {
  @extend .scribeGrid--7-halfColumn;
  @extend .scribeGrid--0-halfColumnHeight;
}

.textBlock--container.isHalfSized > .textBlock--textLink > .textBlock--cover {
  @extend .scribeGrid--columnHeight4;
}

.textBlock--container.isFullSized {
  @extend .scribeGrid--newColumn16;
  @extend .scribeGrid--10-halfColumnHeight;
}

.textBlock--container.isFullSized > .textBlock--textLink > .textBlock--cover {
  @extend .scribeGrid--columnHeight7;
}

.textBlock--container.isFullSized > .textBlock--textInfo > .textBlock--subtitleContainer > .textBlock--subtitle {
  @extend .scribeGrid--newColumn16;
}

.textBlock--container.isFullSized > .textBlock--textDetails,
.textBlock--container.isFullSized > .textBlock--actionsContainer,
.textBlock--container.isFullSized > .textBlock--aboutAuthor {
  @extend .scribeGrid--newColumn16;
}

.textBlock--container.isFullSized > .textBlock--textInfo > .textBlock--detailsContainer {
  @extend .scribeGrid--columnHeight2;
  max-height: 120px;
}

.textBlock-container.isFullSized .textBlock--detailsContainer {
  text-align: center;
}

.textBlock--container.isFullSized .textBlock--detailsContainer .textBlock--shareMenu {
  text-align: left;
}

.textBlock--container.isFullSized > .textBlock--actionsContainer {
  top: 390px;
}

.textBlock--container.isFullSized > .textBlock--aboutAuthor {
  bottom: 60px;
}

.textBlock--container.isHighlighted {
  padding: $newContainer--gutterSize/2 0;
}

.textBlock--container.isHighlighted > .textBlock--textInfo {
  min-height: 60px;
  max-height: 90px;
  padding-top: 0;
}

.textBlock--container.isHighlighted > .textBlock--actionsContainer {
  top: -$newContainer--gutterSize;
}

.textBlock--container.isHighlighted > .textBlock--aboutAuthor {
  bottom: $newContainer--gutterSize/2;
}

.textBlock--sneakPeak {
  min-height: $newContainer--gutterSize;
  max-height: $newContainer--columnSize;
  padding-top: $newContainer--gutterSize/2;
}

.textBlock--sneakPeak > a{
  font-family: 'Libre Baskerville', serif;
  font-size: 0.938em;
  color: $base-gray;
}

.textBlock--textDetails {
  position: absolute;
  background-color: rgba(255,255,255,.9);
}

.textBlock--detail {
  padding: 6px 10px;
  color: $base-gray;
}

.textBlock--textLink {
  display: block;
}

.textBlock--cover {
  width: 100%;
}

.textBlock--textInfo {
  min-height: 60px;
  max-height: 105px;
  padding-top: 15px;
  width: 100%;
}

.textBlock--title {
  min-height: 30px;
  max-height: 60px;
  font-weight: 800;
  margin: 0;
  height: inherit;
  line-height: 1.2;
  overflow: hidden;
}

.textBlock--title > a {
  font-size: inherit;
  font-weight: inherit;
  display: block;
  color: $base-gray;
  line-height: 1;
}

.textBlock--title::first-line,
.textBlock--title > a::first-line {
  line-height: 25px;
}

.textBlock--subtitleContainer {
  height: 30px;
}

.textBlock--subtitle {
  width: 100%;
  height: inherit;
  line-height: 2.2; 
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.textBlock--aboutAuthor {
  line-height: 25px;
  position: absolute;
  bottom: 90px;
}

.textBlock--aboutAuthor > .socialBtn--followBtn {
  float: right;
  margin: 2px 0 0 0;
  padding: 0 1.875em 0 2.813em;
}

.textBlock--authorPicture {
  width: 30px;
}

.textBlock--authorName {
  padding-left: 5px; 
  font-size: 1em; 
  font-weight: 300;
  color: $base-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  @include fullyCustomTransition("color", ".2s", "ease-in-out", "0s");
}

.textColor--authorName:hover {
  color: $base-dark-blue;
}

.textBlock--actionsContainer {
  background-color: rgba(255,255,255,.9);
  position: absolute;
  right: 0;
  top: 210px;
}

.textBlock--container.scribeGrid--gutterRight1 > .textBlock--actionsContainer {
  right: 30px;
}

.textBlock--actions {
  line-height: 2.2;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.textBlock--action,
.textBlock--action > a {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  display: block;
}

.textBlock--action {
  margin: 0 10px;
}

.textBlock--action:not(.isRecommendations) {
  cursor: pointer;
}

.textBlock--action > img,
.textBlock--action > a > img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;
}

.textBlock--action.isRecommendations {
  width: 60px;
}

.textBlock--action.isRecommendations > .textBlock--textLink {
  width: 100%;
}

.textBlock--action.isRecommendations > .textBlock--textLink > .textBlock--recommendationsCount {
  color: $base-dark-red;
  position: absolute;
  bottom: 0;
  left: 35px;
}

.textBlock--action.isRecommendations > .textBlock--textLink > img {
  left: 0;
  margin: -12.5px 0 0 0;
}

.textBlock--detailsContainer {
  display: none;
  height: 90px;
  max-height: 90px;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.textBlock--detailsContainer > .textBlock--recommendationsCount,
.textBlock--detailsContainer > .textBlock--tagsInfo,
.textBlock--detailsContainer > .textBlock--shareMenu {
  display: none;
}

.textBlock--recommendationsCount {
  margin: 0.333em 0;
}

.textBlock--tagsInfo.noTags {
  margin: 1.325em 0;
}

.textBlock--tagsInfo > .tag.light-tag {
  margin: 10px 5px 10px 0;
}

.textBlock--shareMenu {
  padding: 20px 0;
}

.textBlock--menu > .socialBtn > a {
  font-size: 1em;
  padding: 20px 0;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .textBlock--container.isHighlighted > .textBlock--actionsContainer {
    top: -$newContainer--smGutterSize;
  }

  .textBlock--title::first-line,
  .textBlock--title > a::first-line {
    line-height: 20px;
  }

  .textBlock--title{
    line-height: 1;
  }

  .textBlock--subtitleContainer {
    height: ($newContainer--smColumnSize/2);
  }

  .textBlock--container.isFullSized > .textBlock--aboutAuthor {
    bottom: $newContainer--smColumnSize;
  }
  
  .textBlock--aboutAuthor {
    line-height: ($newContainer--smColumnSize/2);
    bottom: ($newContainer--smColumnSize/2)*3;
  }

  .textBlock--detailsContainer {
    height: ($newContainer--smColumnSize/2)*3;
    max-height: ($newContainer--smColumnSize/2)*3;
  }

  .textBlock--actionsContainer {
    top: ($newContainer--smColumnSize/2)*7;
  }

  .textBlock--container.isFullSized > .textBlock--actionsContainer {
    top: 292.5px;
  }

  .textBlock--container.scribeGrid--gutterRight1 > .textBlock--actionsContainer {
    right: $newContainer--smColumnSize/2;
  }

  .textBlock--action,
  .textBlock--action > a {
    width: $newContainer--smColumnSize/2;
    height: $newContainer--smColumnSize/2;
  }

  .textBlock--action > img,
  .textBlock--action > a > img {
    width: ($newContainer--smColumnSize/2);
    height: ($newContainer--smColumnSize/2);
    margin: (-$newContainer--smColumnSize/4) 0 0 (-$newContainer--smColumnSize/4);
  }

  .textBlock--action.isRecommendations > img {
    margin: -$newContainer--smColumnSize/4 0 0 0;
  }

  .textBlock--action.isRecommendations > .textBlock--recommendationsCount {
    left: 27.5px;
  }

  .textBlock--authorPicture {
    width: ($newContainer--smColumnSize/2);
  }

}

@media (max-width: $screen-xs-max) {

  .textBlock--container.isHalfSized,
  .textBlock--container.isFullSized {
    @extend .scribeGrid--newMobileColumn16;
    @extend .scribeGrid--mobileColumnHeight16;
    @extend .scribeGrid--mobileGutterBottom2;
  }

  .textBlock--container.isHalfSized > .textBlock--textDetails,
  .textBlock--container.isFullSized > .textBlock--textDetails {
    @extend .scribeGrid--mobileColumnHeight1;
  }

  .textBlock--container.isHalfSized > .textBlock--textLink > .textBlock--cover,
  .textBlock--container.isFullSized > .textBlock--textLink > .textBlock--cover {
    @extend .scribeGrid--mobileColumnHeight8;
  }

  .textBlock--container.isHalfSized > .textBlock--textInfo,
  .textBlock--container.isFullSized > .textBlock--textInfo {
    @extend .scribeGrid--mobileColumnHeight4;
    @extend .scribeGrid--mobileGutterBottom2;
  }

  .textBlock--container.isHalfSized > .textBlock--textInfo > .textBlock--subtitleContainer > .textBlock--subtitle,
  .textBlock--container.isFullSized > .textBlock--textInfo > .textBlock--subtitleContainer > .textBlock--subtitle {
    @extend .scribeGrid--newMobileColumn9;
  }

  .textBlock--container.isHalfSized > .textBlock--aboutAuthor,
  .textBlock--container.isFullSized > .textBlock--aboutAuthor {
    @extend .scribeGrid--mobileColumnHeight2;
  }

  .textBlock--container:not(:first-of-type) {
    margin-top: $newContainer--xsColumnSize;
  }

  .textBlock--textInfo {
    min-height: $newContainer--xsColumnSize*2;
    max-height: 70px;
    padding-top: $newContainer--xsColumnSize/2;
  }

  .textBlock--title::first-line,
  .textBlock--title > a::first-line {
    line-height: $newContainer--xsColumnSize;
  }

  .textBlock--title {
    min-height: $newContainer--xsColumnSize;
    max-height: $newContainer--xsColumnSize*2;
    line-height: 1.1;
  }

  .textBlock--subtitleMenu {
    height: $newContainer--xsColumnSize;
  }

  .textBlock--shareMenu {
    padding-top: 0;
  }

  .textBlock--shareMenu > .socialBtn {
    float: none;
    margin: 2px auto;
    min-width: 9.375em;
    max-width: 12.500em;
  }

  .textBlock--shareMenu > .socialBtn > a {
    padding: 3px 0;
    font-size: 1em;
  }

  .textBlock--aboutAuthor {
    line-height: $newContainer--xsColumnSize*2;
    bottom: $newContainer--xsColumnSize;
  }

  .textBlock--authorName {
    font-size: 1.425em;
  }

  .textBlock--aboutAuthor > .socialBtn {
    padding: 0 $newContainer--xsColumnSize*2;
    line-height: 1.6;
    font-size: 1.25em;
    margin: ($newContainer--xsColumnSize/2) 0;
  }

  .textBlock--actionsContainer,
  .textBlock--container.isFullSized > .textBlock--actionsContainer {
    top: 130px;
  }

  .textBlock--container.scribeGrid--mobile-noGutterRight > .textBlock--actionsContainer {
    right: 0;
  }

  .textBlock--action.isRecommendations > .textBlock--recommendationsCount {
    left: 30px;
    margin: .75em 0;
  }
}