= s3_uploader_form callback_url: callback, data: {:"upload-error" => t(:upload_error)} ,class: 's3_uploader', callback_param: "user[#{param}]", id: "#{param}", expiration: 24.hours.from_now.utc.iso8601, max_file_size: 50.megabytes do
  = file_field_tag :file, accept: 'image/png,image/gif,image/jpeg'