#merge-acc-modal.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        = image_tag 'icons/error-icon.svg', id: "error-icon"
        %button.close{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2= "Oops"
        %h4= t(:acc_in_use_subtitle)
      .modal-body
        %p= t(:acc_in_use_desc_pt1)
        = render partial: "users/user_list_fol", locals: {users: User.where(id: params[:fb_exists])}
        %p= t(:acc_in_use_desc_pt2)
      .modal-footer
        %button{class: modal_btn_classes, data: {merge_url: merge_accounts_url}}= t(:merge)