%section#existing-contacts
  .sg-container.user-section
    .section-header.sg-row
      %h3= t(:contacts_using_scribe)
    .sg-row.contacts-list
      = render "users/user_list_fol", users: users
    .sg-row
      = link_to t(:follow_all), '#', data: {action: follow_all_email_contacts_url, emails: users.map{|c| c.email}}, class: 'follow-all-btn', id: 'follow-all-email'
    .sg-row
      %button#skip-step= t(:skip_this_step)