#registration-form.sg-col-7
  = form_for @user, html: {role: 'form', novalidate: true, method: 'post'} do |f|
    .form-group.clearfix{class: ('has-errors' unless @user.errors[:first_name].empty?)}
      = f.label :first_name, class: 'sg-col-2'
      = f.text_field :first_name, class: 'form-control sg-col-3', placeholder: t('activerecord.attributes.user.first_name'), required: true
      - unless @user.errors[:first_name].empty?
        - @user.errors[:first_name].each do |error|
          %p.error-msg= error
    .form-group.clearfix{class: ('has-errors' unless @user.errors[:last_name].empty?)}
      = f.label :last_name, class: 'sg-col-2'
      = f.text_field :last_name, class: 'form-control sg-col-3', placeholder: t('activerecord.attributes.user.last_name'), required: true
      - unless @user.errors[:last_name].empty?
        - @user.errors[:last_name].each do |error|
          %p.error-msg= error
    .form-group.clearfix{class: ('has-errors' unless @user.errors[:email].empty? && @user.errors[:email_confirmation].empty?)}
      = f.label :email, class: 'sg-col-2'
      = f.email_field :email, value: @user.email ,class: 'form-control sg-col-3', placeholder: t('activerecord.attributes.user.email'), required: true
      - unless @user.errors[:email].empty?
        - @user.errors[:email].each do |error|
          %p.error-msg= error
      = f.email_field :email_confirmation, value: @user.email ,class: 'form-control sg-col-3', placeholder: t('activerecord.attributes.user.email_confirmation'), required: true
      - unless @user.errors[:email_confirmation].empty?
        - @user.errors[:email_confirmation].each do |error|
          %p.error-msg= error
    .form-group.clearfix{class: ('has-errors' unless @user.errors[:password].empty? && @user.errors[:password_confirmation].empty?)}
      = f.label :password, class: 'sg-col-2'
      = f.password_field :password, class: 'form-control sg-col-3', placeholder: t('activerecord.attributes.user.password'), required: true
      - unless @user.errors[:password].empty?
        - @user.errors[:password].each do |error|
          %p.error-msg= error
      = f.password_field :password_confirmation, class: 'form-control sg-col-3', placeholder: t(:confirm_password), required: true
      - unless @user.errors[:password_confirmation].empty?
        - @user.errors[:password_confirmation].each do |error|
          %p.error-msg= error
    .form-group.clearfix.sg-offset-4
      #signup-disclosure= t(:registration_agreement_html)
      = f.submit t(:signup_btn), class: 'btn btn-scribe btn-scribe-lb sg-col-4'