- texts.sort{ |x,y| y.impressionist_count(filter: impression_filter) <=> x.impressionist_count(filter: impression_filter)}.each do |text|
  %ul.listed-text.sg-row.horizontal-list
    %li.text-date.text-center
      %h2.day= text.published_at.strftime('%d')
      %h4.month= I18n.l(text.published_at, format: :short_month).upcase
      %h4.year= text.published_at.strftime('%Y')
    %li.text-information.sg-col-4
      .sg-row
        %h1.title= text.title
      .sg-row
        %h2.subtitle= text.subtitle
    %li.text-stat.text-center.sg-offset-1.sg-col-2
      %h1.monster-font= text.impressionist_count(filter: impression_filter)
    %li.text-access.text-center.sg-offset-1
      = link_to t(:read_text), text