- users.each.with_index(1) do |user, i|
  .user-grid-container{class: ('last-col' if i%3==0)}
    %ul.fol-options
      %li.user-thumb{style: "background: url(#{user.profile_photo.url(:thumbs)}) center center no-repeat transparent; background-size: cover;"}
      %li.text-date.text-center
        .dates-container
          = fol_container_date(user,user.texts.where(is_draft: false).order("published_at DESC").first)
      %li.fof{class: "#{@current_user.follow?(user) ? 'following-btn' : 'follow-btn'}",data: {toggle: "expand-container"}}
        = follow_unfollow_button(user)
    .fol-info-container
      .fol-info
        %h3.name
          = link_to user.name, user_show_url(user)
        %ul.horizontal-list.clearfix
          %li
            = link_to "#{t("activerecord.attributes.user.texts", count: user.texts.where(is_draft: false).size)}", user_show_url(user)
          %li{id: "following-count-#{user.id}"}
            = link_to "#{t(:following, count: user.following_count)}", user_following_url(user)
          %li{id: "follower-count-#{user.id}"}
            = link_to "#{t(:followers, count: user.follower_count)}", user_followers_url(user)
        %h4.last-text= t(:last_text)
      -if user.texts.where(is_draft: false).order("published_at DESC").first.blank?
        %h4.no-text.text-center= t(:no_texts, user: user.first_name)
      - else
        .text-info{style: ("background: url('#{user.texts.where(is_draft: false).order("published_at DESC").first.cover.photo.url(:half_list)}') center center no-repeat transparent" unless user.texts.where(is_draft: false).order("published_at DESC").first.cover.blank?)}
          .title-and-subtitle
            %h4.title
              = link_to user.texts.where(is_draft: false).order("published_at DESC").first.title, user.texts.where(is_draft: false).order("published_at DESC").first
            %h5.subtitle= user.texts.where(is_draft: false).order("published_at DESC").first.subtitle