- users.each do |user|
  .sg-row
    .user-list-container
      %img.user-thumb.pull-left{src: user.profile_photo.url(:thumbs)}
      .sg-col-5.pull-left
        %h4.name
          = link_to user.name, user_show_url(user)
        %ul.horizontal-list.clearfix
          %li
            = link_to "#{t("activerecord.attributes.user.texts", count: user.texts.where(is_draft: false).size)}", user_show_url(user)
          %li{id: "following-count-#{user.id}"}
            = link_to "#{t(:following, count: user.following_count)}", user_following_url(user)
          %li{id: "follower-count-#{user.id}"}
            = link_to "#{t(:followers, count: user.follower_count)}", user_followers_url(user)
      = follow_unfollow_button(user)