#user-navbar.hidden-xs{role: "navbar"}
  %ul.scribeGrid--newContainer
    -if @current_user
      %li.text-center{class: [('active' if current_page?( timeline_url ))]}
        = link_to t(:timeline), timeline_url, class: 'user-navbar-btn'
      %li.text-center.pull-right{class: [('active' if current_page?( user_show_url(@current_user) ))]}
        = link_to t(:my_profile), user_show_url(@current_user), class: 'user-navbar-btn'
    %li.text-center{class: [('active' if controller.controller_name.eql?("categories"))]}
      = link_to t(:categories), categories_path, class: "user-navbar-btn"
    %li.text-center{class: [('active' if current_page?(discover_url))]}
      = link_to t(:discover), discover_path, class: "user-navbar-btn"
    %li.text-center{class: [('active' if current_page?(popular_path))]}
      = link_to "Popular", popular_path, class: "user-navbar-btn"
    %li.text-center{class: [('active' if current_page?(tags_path))]}
      = link_to "Tags", tags_path, class: "user-navbar-btn"
    - if I18n.locale.eql?(:"pt-BR")
      %li.text-center
        %a{href: "https://shop.wescribe.co", target: "_blank", class: "user-navbar-btn"}= "Scribe Shop"
