%section#user-header-info.edit-page
  .sg-row
    #user-info.sg-col-5
      = form_for @user, html: {multipart: true, role: 'form', class: 'edit-form', data: {update_url: user_url(@user)}} do |f|
        .form-group
          = f.label :first_name
          = f.text_field :first_name, class: 'form-control'
        .form-group
          = f.label :last_name
          = f.text_field :last_name, class: 'form-control'
        .form-group
          = f.label :gender
          = f.select :gender, options_for_select([[t(:male), 'M'], [t(:female), 'F']], selected: @user.gender), {include_blank: true}, {class: 'form-control'}
        .form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'
        %label.checkbox-inline
          = f.check_box :public_email
          = t(:public_email)
        .form-group
          = f.label :slug
          = f.text_field :slug, class: 'form-control'
        .form-group
          = f.label :website
          = f.text_field :website, class: 'form-control'
        .form-group
          = f.label :country_code
          = f.country_select :country_code, {include_blank: true}, class: 'form-control'
        .form-group
          = f.label :phone_country_code
          = f.select :phone_country_code, options_for_select(@country_codes, @phone_code_selected), {include_blank: true}, class: 'form-control'
        .form-group
          = f.label :whatsapp_number
          = f.text_field :whatsapp_number, {class: 'form-control'}
        .form-group
          = f.label :bio
          = f.text_area :bio, class: 'form-control', maxlength: 500
        .form-group
          .sg-row
            = link_to t(:deactivate), '#', data: {action: user_deactivate_account_path(@user), confirmation: t(:confirm_deactivation)}, class: 'pull-left', id: "deactivate-account"
            = f.submit t(:save), class: 'pull-right btn btn-scribe btn-scribe-lb', id: "save-btn"
            = link_to t(:cancel), user_show_path(@user), class: 'pull-right btn btn-scribe btn-scribe-lb', id: "cancel-btn"
    #photo-info.sg-col-5
      #cover-header.sg-row{style: "background: url(#{@current_user.cover_photo.url}) center center no-repeat transparent; background-size: cover;"}
        .sg-row.image-upload
          #upload-profile-photo.upload-btn.text-center
            %span= t(:upload_profile_photo)
            = render 'direct_upload', callback: save_profile_photo_url, param: 'profile_photo'
          #upload-cover-photo.upload-btn.text-center
            %span= t(:upload_cover_photo)
            = render 'direct_upload', callback: save_cover_photo_url, param: 'cover_photo'
      #misc-area
        #social-area.sg-row
          %h3= 'Social'
          = link_facebook
          = link_twitter
          = link_instagram
        #notifications-area.sg-row
          %h3= t(:notifications)
          = form_for @user, html: {class: 'edit-form user-preferences', role: 'form'} do |form|
            = fields_for @user.preferences do |f|
              .checkbox
                %label
                  = f.check_box :email_on_follow
                  = t('activerecord.attributes.user_preferences.email_on_follow')
              .checkbox
                %label
                  = f.check_box :email_on_recommendations
                  = t('activerecord.attributes.user_preferences.email_on_recommendations')
              .checkbox
                %label
                  = f.check_box :get_whatsapp_texts
                  = t('activerecord.attributes.user_preferences.get_whatsapp_texts')
              - if I18n.locale.eql?(:"pt-BR")
                .checkbox
                  %label
                    = f.check_box :email_top_ten
                    = t('activerecord.attributes.user_preferences.email_top_ten')
                .checkbox
                  %label
                    = f.check_box :email_weekly_writers
                    = t('activerecord.attributes.user_preferences.email_weekly_writers')
                .checkbox
                  %label
                    = f.check_box :email_week_trends
                    = t('activerecord.attributes.user_preferences.email_week_trends')
                .checkbox
                  %label
                    = f.check_box :email_steve_suggestions
                    = t('activerecord.attributes.user_preferences.email_steve_suggestions')
            .form-group
              .sg-row
                = submit_tag t(:save), class: 'pull-right btn btn-scribe btn-scribe-lb', id: "save-notifications"
                = link_to t(:cancel), user_show_url(@user), class: 'pull-right btn btn-scribe btn-scribe-lb', id: "cancel-notifications"
          - if @user.errors.any?
            #error-explanation
              - Rails.logger.debug "Errors: #{@user.errors.inspect}"
              %ul
                - @user.errors.messages.each do |key, msg|
                  - if msg.size == 1
                    %li.error-msg= msg[0]
                  -else
                    - msg.each do |msg|
                      %li.error-msg= msg
    %img{src: @user.profile_photo.url(:medium), alt: @user.name, id: "profile-photo"}
  = render "users/user_header_nav"
= render "scribe_modal", modal_title: ":(", modal_subtitle: t(:confirm_deactivation_title), modal_btn_classes: "btn btn-scribe full-width-btn btn-scribe-alert confirm-deactivation"
#profile-pics-requirements.panel.panel--info.u-centralized
  %span= t(:upload_pic_requirements_html)