= render "users/common/user_header", style: "timeline"
%section#facebook-invite.sg-container.user-section.text-center.facebook-container
  .section-header.sg-row
    %h2= t(:tell_ur_friends)
    %h3= t(:tell_ur_friends_cta)
    %h3.share-text= t(:tell_ur_friends_message_html)
  = link_to t(:tell_ur_friends_cta_btn), "#", data: {href: user_show_url(@current_user)}, class: 'full-width-btn btn-scribe facebook-share'
%div#facebook-friends
  %section#fol-section.sg-container.user-section.facebook-container
    .section-header.sg-row
      .sg-col-10
        %h2= t(:fb_friends_scribe)
        = link_to t(:follow_all), follow_all_facebook_friends_url, class: 'follow-all-btn' unless @scribe_friends.blank?
    %h3.text-center= t(:no_facebook_friends) if @scribe_friends.blank?
    = render "user_list_fol", users: @scribe_friends unless @scribe_friends.blank?