= render "users/common/user_header", style: "timeline"
%section#fol-section.sg-container.user-section
  .section-header.sg-row
    .sg-col-5
      %h2= t(section_title)
    .sg-col-5.u--mobile-xsHidden
      = form_tag search_url, method: :get do
        = text_field_tag :query, '', placeholder: t(:search), class: 'search-field'
  = render "user_list_fol", users: @users
  = paginate @users