= render "users/common/user_header", style: "profile"
%section.scribeGrid--newContainer.profileSection.u-clearfix
  .section--header.scribeGrid--row
    .scribeGrid--newColumn5
      %h2.u-slimTitle= t("#{@user == @current_user ? 'my_last_texts' : 'other_last_texts'}".to_sym, user: @user.name)
    .scribeGrid--newColumn5.u-centralized
      = follow_unfollow_button(@user)
    .scribeGrid--newColumn6.u--mobile-xsHidden
      = form_tag search_url, method: :get, class: 'searchForm' do
        = text_field_tag :query, "#{@query}", placeholder: t(:search), class: 'searchForm--inputField'
  = render "users/suggestions/board", hidden: 'isHidden' if @current_user
  = render "users/profile/published_texts_container", has_texts: !@texts.blank?
-if @current_user && @user == @current_user
  .scribeGrid--row.section-divider
  %section.scribeGrid--newContainer.profileSection.u-clearfix
    .section--header.scribeGrid--row
      .scribeGrid--column10
        %h2.u-slimTitle= t(:my_last_drafts)
    = render "users/profile/drafts_container", has_drafts: !@drafts.blank?