.container.container-scribe.container-scribe-form
  = form_for @user, url: update_password_url, html: {role: 'form', novalidate: true, method: 'PUT', style: 'padding-top: 75px;'} do |f|
    .form-group{class: ('has-errors' unless @user.errors[:password].empty? && @user.errors[:password_confirmation].empty?)}
      = f.label :password
      = f.password_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password'), required: true
      - unless @user.errors[:password].empty?
        - @user.errors[:password].each do |error|
          %p.error-msg= error
      = f.password_field :password_confirmation, class: 'form-control', placeholder: t(:confirm_password), required: true
      - unless @user.errors[:password_confirmation].empty?
        - @user.errors[:password_confirmation].each do |error|
          %p.error-msg= error
      = f.hidden_field :password_reset_token, value: params[:password_reset_token]
      .form-group
        = f.submit t(:submit), class: 'btn btn-scribe btn-scribe-lb full-width-btn'