.sg-container
  #stats-title-row.sg-row
    %h1#title= t(:stats)
  %ul#stats-options.sg-row.nav.nav-tabs{role: "tablist"}
    %li.sg-col-2
      %h2
        %a{href: '#', role: "tab", data: {toggle: "tab", target: "#total-views"}}= t(:view)
    %li.sg-col-2.sg-offset-1.active
      %h2
        %a{href: '#', role: "tab", data: {toggle: "tab", target: "#unique-views"}}= t(:unique_views)
    %li.sg-col-2.sg-offset-1.disabled
      %h2
        %a{href: "#", role: "tab", data:  {toggle: "tab", target: "#recommendations"}}= t(:recommendations)
    %li.sg-col-2
      %h2
        %a{href: "#", role: "tab", data: {toggle: "tab", target: "#references"}}= t(:references)
  .tab-content
    - if !@texts.blank?
      #total-views.tab-pane.fade
        = render "stats_text_views", texts: @texts, impression_filter: :all
      #unique-views.tab-pane.fade.in.active
        = render "stats_text_views", texts: @texts, impression_filter: :ip_address
      #recommendations.tab-pane.fade
        = render "stats_text_recommendations", texts: @texts
      #references.tab-pane.fade
        = render "stats_references_views", texts: @texts
    - else
      %h2#no-texts-stats= t(:no_texts_stats_html, link: new_text_url)