= render "users/common/user_header", style: "timeline"
%section.scribeGrid--newContainer.timelineSection
  = render "users/suggestions/board", hidden: ''
  .section--header.scribeGrid--row
    .scribeGrid--newColumn9
      %h2.u-slimTitle= t(:timeline)
    .scribeGrid--newColumn7.u--mobile-xsHidden
      = form_tag search_url, method: :get, class: 'searchForm' do
        = text_field_tag :query, "#{@query}", placeholder: t(:search), class: 'searchForm--inputField'
  -if @tl.blank?
    %h3.u-lightFont.u-centralized= t(:empty_timeline)
  = render "application/text/blocks", texts: @tl, container_class: "timelineSection--textBlocks"
  = paginate @tl, params: {controller: "users", action: "timeline"} unless @tl.blank?