= link_to '', edit_user_path(@user), class: 'u-pullRight icon--edit u--mobile-xsHidden' if @user == @current_user
= render "users/timeline/details"
= link_to(t(:see_statistics), user_see_stats_path(@user), class: "u--mobile-xsHidden") if @user == @current_user
%p.userDetails--bio.scribeGrid--column8.js-expandBio.u--mobile-xsHidden{title: "Expand", data: {expanded: @user.bio}}
  = truncate(@user.bio, length: 100, omission: '...+')
%p.userDetails--email.u--mobile-xsHidden= @user.email if @user.public_email
= link_to(url_with_protocol(@user.website), url_with_protocol(@user.website), target: '_blank', rel: 'nofollow', class: 'u--mobile-xsHidden userDetails--website') unless @user.website.blank?
%p.userDetails--socialLinks.u--mobile-xsHidden 
  = link_to 'Facebook' , @user.facebook_profile_url, target: '_blank' unless @user.facebook_uid.blank?
  = link_to 'Twitter', "https://twitter.com/#{@user.twitter_user}", target: '_blank' unless @user.twitter_uid.blank?
  = link_to 'Instagram', "https://instagram.com/#{@user.instagram_user}", target: '_blank' unless @user.instagram_uid.blank?