-if has_drafts
  = render "application/text/blocks", texts: @drafts, container_class: "draftsContainer" ,size: "half"
  .load-more-container.text-center.drafts{data: {container: '.drafts'}}
    = link_to_next_page @drafts, t(:load_more), param_name: 'drafts_page', remote: true, class: 'load-more', data: {page: @drafts_page.to_i+1, container: '.draftsContainer > .textBlock--container'}
-else
  %h3.u-lightFont.u-pullLeft= t(:no_drafts)