-if has_texts
  = render "application/text/blocks", texts: @texts, container_class: "profileContainer" ,size: "full"
  .load-more-container.text-center.published-texts{data: {container: '.published-texts'}}
    = link_to_next_page @texts, t(:load_more), param_name: 'texts_page', remote: true, class: 'load-more', data: {page: @texts_page.to_i+1, container: '.profileContainer > .textBlock--container'}
-else
  %h3.u-pullLeft.u-lightFont
    = @user == @current_user ? t(:no_texts_html, link: new_text_path) : t(:no_texts, user: @user.name)