%section.userHeader.scribeGrid--row{class: "is#{style.capitalize}"}
  .scribeGrid--newContainer
    .scribeGrid--newColumn8.userHeader--details
      = render "users/#{style}/details"
      %img.userHeader--photo{src: @user.profile_photo.url(:medium)}
  .userHeader--cover{style: (@user.cover_photo.blank? ? "background: rgba(210,210,210,.9);" : "background: url(#{@user.cover_photo.url(style.to_sym)}) center center no-repeat transparent; background-size: cover;")}
    - if @user.cover_photo.blank?
      %span.ribbon.white
  = render "users/user_header_nav"