@import "variables_and_mixins";

@media (max-width: $screen-xs-max) {

  .u--mobile-xsHidden {
    display: none !important;
  }

  .u--mobile-xsShown {
    display: block !important;
  }

  .u--mobile-clearFloat {
    float: none;
  }

}