%ul.tagsCloud--container.u-horizontalMenu.u-clearfix.u-centralized
  - tags.each do |tag|
    %li.tagsList--tag.fromCloud.js-selectTag{data: {tag: tag.name}}= tag.name
%ul.tagsCloud--searchedTags.u-horizontalMenu.u-clearfix.u-centralized