= render "users/common/user_header", style: "timeline" if @current_user
= render "application/header/unlogged_user", style: "timeline" unless @current_user
.scribeGrid--newContainer
  %section.section--header.scribeGrid--row
    .scribeGrid--newColumn4.scribeGrid--newMobileColumn16
      %h3.u-lightFont= '#Top30'
    .scribeGrid--newColumn8.scribeGrid--newMobileColumn16
      = form_tag load_from_tags_url, method: :get, class: 'tagsSection--search' do
        = text_field_tag :tag, "#{@tag}", placeholder: t(:search), class: 'searchForm--inputField'
    .scribeGrid--newColumn4.scribeGrid--newMobileColumn16
  - if I18n.locale.eql?(:"pt-BR")
    %section.tagsSection--tagsCloud.scribeGrid--row
      = render "tags/tags_cloud", tags: @tags
  %section.tagsSection--selectedTagsContainer.scribeGrid--row
    %h4.u-slimTitle.u-pullLeft= t(:texts_with_tags)
    %ul.tagsSection--selectedTagsList.u-horizontalMenu.u-pullLeft.u-clearfix
  %section.scribeGrid--row.tagsSection--textsContainer{data: {empty_search: t(:select_one_tag)}}
    .scribeGrid--row.u-centralized
      %h1.u-lightFont.tagsSection--highlightedTag= "tag"
    %img{src: asset_path("icons/ajax_preloader_icon.gif"), alt: "Preloader", class: 'tagsSection--ajaxLoader'}