%li.dropdown
  %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
    = t(:language)
    %b.caret
  %ul.dropdown-menu
    %li 
      = link_to "Português", generate_locale_url("pt-BR"), class: 'btn-lingua-header' 
    %li 
      = link_to "English", generate_locale_url("en"), class: 'btn-lingua-header'
    %li 
      = link_to "Español", generate_locale_url("es"), class: 'btn-lingua-header'