- if !@current_user.done_update && I18n.locale.eql?(:"pt-BR")
  %li#updater-icon.animated.tada
    = link_to '', '#', class: 'icon steve-scriber-thumb', id: 'scribe-updates', data: {titles: [t(:scribe_shop_title)], contents: [t(:scribe_shop_content_html)], finish: finish_tour_url}
%li.hasIcon
  =link_to '', user_show_path(@current_user), class: 'scribeNavbar--icon homeIcon hasTooltip', data: {toggle: "tooltip", placement: "bottom", title: t(:my_profile)}
%li.hasIcon
  =link_to '', user_see_stats_path(@current_user), class: 'scribeNavbar--icon statsIcon hasTooltip', data: {toggle: "tooltip", placement: "bottom", title: t(:see_statistics)}
%li.hasIcon{data: {"no-turbolinks" => true}}
  =link_to '', new_text_path, class: 'scribeNavbar--icon writeIcon hasTooltip', data: {toggle: "tooltip", placement: "bottom", title: t(:new_text)}
%li.hasIcon
  =link_to '', logout_url, class: 'scribeNavbar--icon logoutIcon hasTooltip', data: {toggle: "tooltip", placement: "bottom", title: "Logout"}