%li
  = link_to t(:my_profile), user_show_path(@current_user)
%li
  = link_to t(:timeline), timeline_url
%li
  = link_to t(:discover), discover_url
%li
  = link_to "Popular", popular_url
%li
  = link_to "Logout", logout_url