%li
  = link_to t(:categories), categories_url
%li
  = link_to t(:discover), discover_url
%li
  = link_to "Popular", popular_url
%li
  = link_to "Scribe Shop", "https://shop.wescribe.co"
%li
  = link_to 'Tags', tags_path
- unless @current_user
  %li.scribeNavbar--login
    = link_to "Login", "#", class: 'js-toggleModal button mediumLightBlue u-heavyFont', data: {modal: '.scribeModal.loginModal'}