.scribeModal.completeRegistration.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .scribeModal--dialog
    .scribeModal--content.lightColored
      .u-centralized.scribeModal--header
        = image_tag 'missing_photo.svg', class: 'scribeModal--header-topIcon'
        %button.scribeModal--close.darkColored{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2.u-lightFont= "Hey #{user.name}"
        %h4.u-lightFont= t(:finish_signup)
      .scribeModal--body.loginModal--body
        = form_tag complete_registration_url, {class: 'scribeForm completeRegistrationForm js-validateForm', method: :post} do
          = text_field_tag :email, user.email, class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.email')
          = submit_tag t(:signup_btn), class: 'button darkBlueColored scribeForm--submit'
- unless session[:provider].nil?
  :javascript
    $('.completeRegistration').modal({
      backdrop: 'static'
    });