.scribeModal.loginModal.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .scribeModal--dialog
    .scribeModal--content.lightColored
      .u-centralized.scribeModal--header
        = image_tag 'missing_photo.svg', class: 'scribeModal--header-topIcon'
        %button.scribeModal--close.darkColored{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2= t(:do_login)
        %h4.u-slimTitle= t(:or_signup)
      .scribeModal--body.loginModal--body
        = form_tag authenticate_url, {class: 'scribeForm loginForm scribeGrid--newColumn10 js-lowercase-values js-validateForm', remote: true} do
          %h4.u-centralized.u-slimTitle.scribeGrid--row= "Email"
          = text_field_tag :email, params[:email], class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.email'), autocomplete: "off", tabindex: 1
          = password_field_tag :password, nil , class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.password'), autocomplete: "off", tabindex: 2
          .scribeGrid--row.scribeForm--formDetails
            %label.u-pullLeft
              = check_box_tag "persist_session", false, false, class: 'u-pullLeft scribeForm--checkbox', tabindex: 3
              = t(:persist_session)
            = link_to t(:reset_pass), '#', class: 'u-pullRight js-toggleModal', data: {modal: '.scribeModal.resetPassModal'}, tabindex: 4
          = submit_tag "Login", class: 'button mediumLightBlue u-heavyFont u-blockCenter'
          %hr/
          .socialBtn.socialBtn--facebook.readerIcons.scribeGrid--newColumn5.u-blockCenter
            = link_to "Facebook login", '/auth/facebook'
          .socialBtn.socialBtn--twitter.readerIcons.scribeGrid--newColumn5.u-blockCenter
            = link_to "Twitter login", '/auth/twitter'