.scribeModal.signupModal.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .scribeModal--dialog
    .scribeModal--content.lightColored
      .u-centralized.scribeModal--header
        = image_tag 'missing_photo.svg', class: 'scribeModal--header-topIcon'
        %button.scribeModal--close.darkColored{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2= t(:signup)
        %h4.u-slimTitle= t(:join_scribe)
      .scribeModal--body.loginModal--body
        = form_for @user, html: {role: 'form', novalidate: true, method: 'post', class: 'scribeForm signupForm js-validateForm', remote: true} do |f|
          .u-clearfix
            = f.label :first_name, class: 'scribeForm--required'
            = f.text_field :first_name, class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.first_name'), required: true
          .u-clearfix
            = f.label :last_name, class: 'scribeForm--required'
            = f.text_field :last_name, class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.last_name'), required: true
          .u-clearfix
            = f.label :email, class: 'scribeForm--required'
            = f.email_field :email, value: @user.email ,class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.email'), required: true
            = f.email_field :email_confirmation, value: @user.email ,class: 'scribeForm--input js-matchPrevious', placeholder: t('activerecord.attributes.user.email_confirmation'), required: true
          .u-clearfix
            = f.label :password, class: 'scribeForm--required'
            = f.password_field :password, class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.password'), required: true
            = f.password_field :password_confirmation, class: 'scribeForm--input js-matchPrevious', placeholder: t(:confirm_password), required: true
          .u-clearfix
            = f.submit t(:signup_btn), class: 'button darkBlueColored scribeForm--submit'
            %small.scribeForm--small= t(:registration_agreement_html)