.scribeModal.resetPassModal.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .scribeModal--dialog
    .scribeModal--content.lightColored
      .u-centralized.scribeModal--header
        = image_tag 'missing_photo.svg', class: 'scribeModal--header-topIcon'
        %button.scribeModal--close.darkColored{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2= t(:reset_pass)
      .scribeModal--body.resetPassModal--body
        = form_tag reset_password_url, {class: 'scribeForm resetPassForm scribeGrid--newColumn10 js-lowercase-values js-validateForm', remote: true} do
          %h4.u-centralized.u-slimTitle.scribeGrid--row= "Email"
          = text_field_tag :email, params[:email], class: 'scribeForm--input', placeholder: t('activerecord.attributes.user.email'), autocomplete: "off", tabindex: 1
          = submit_tag t(:reset_pass), class: 'button mediumLightBlue u-heavyFont u-blockCenter'