.scribeGrid--row.suggestionBoard.u--mobile-xsHidden{class: hidden}
  .invitationBox.scribeGrid--column4
    %span.invitationBox--close.js-dismissParent= "X"
    %h4.scribeGrid--row.u-slimTitle= t(:invite_a_friend)
    = form_tag invite_friend_url, remote: true, method: :post, class: 'mini-form invitationBox--inviteForm scribeGrid--row js-inviteSingleForm' do
      = text_field_tag "email", '' ,class: 'scribeGrid--column6', placeholder: t("activerecord.attributes.user.email")
      = submit_tag t(:invite)
    %h5.scribeGrid--row.u-slimTitle.visible-xs-block
      = t(:search_in_contacts)
      = link_to "", '/contacts/gmail', class: 'icon--gmail'
      = link_to "", '/contacts/yahoo', class: 'icon--yahoo'
  %h5.u-slimTitle= t(:suggestions)
  .scribeGrid--row.suggestion-row.suggestionBoard--suggestions
    = t(:following_all_html) if @suggestions.blank?
    = render "users/suggestions/list", suggestions: @suggestions unless @suggestions.blank?