- suggestions.each do |suggestion|
  .suggestion.scribeGrid--newColumn5
    %img.suggestion--picture.u-pullLeft{src: suggestion.profile_photo.url(:thumbs), alt: suggestion.name}
    %h4.suggestion--name.scribeGrid--column7.u-pullLeft
      = link_to suggestion.name, user_show_url(suggestion)
    .suggestion--action.scribeGrid--column7
      = follow_unfollow_button(suggestion)