%h2.userDetails--userName
  %span.dark-blue.ribbon.u-pullLeft.u--mobile-xsHidden
  = @user.name
%ul.userDetails--stats.u-horizontalMenu.clearfix
  %li
    = link_to "#{t(:following, count: @user.following_count)}", user_following_url(@user)
  %li
    = link_to "#{t(:followers, count: @user.follower_count)}", user_followers_url(@user)
  %li
    = link_to "#{t("activerecord.attributes.user.texts", count: @user.texts.where(is_draft: false).size)}", user_show_url(@user)