@import "variables_and_mixins";

.button {
  padding: 5px 20px;
  border: 0;
}

.button.darkBlueColored {
  background-color: $base-medium-dark-blue;
  color: white;
}

.button.mediumLightBlue {
  background-color: $base-medium-light-blue;
  color: white;
}

@media (max-width: $screen-xs-max) {
  .button {
    margin: 5px 0 0 0;
  }

  .profiler-results {
    display: none;
  }
}