@import "variables_and_mixins";

.categoriesMenu {
  margin: 0;
  padding: 30px 0;
  display: inline-block;
}

.categoriesMenu > li {
  font-weight: 300;
  width: 150px;
  margin: 0 10px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.3);
  color: $base-gray;
  cursor: pointer;
  @include basicTransition(.2s);
}

.categoriesMenu > li:not(.isActive):hover {
  @include basicTransformScale(1.2);
  background-color: rgba(0,0,0,.3);
  color: white;
}

.categoriesMenu > li.isActive {
  background-color: rgba(0,0,0,.7);
  color: white;
}

@media (max-width: $screen-xs-max) {

  .categoriesMenu  {
    width: 150px;
  }

  .categoriesMenu > li {
    margin: 0;
  }
}