@import "variables_and_mixins";

.extensibleContainer {
  width: 0;
  height: 59px;
  box-shadow: 5px 0 3px rgba(0,0,0,.3), 1px 0 1px rgba(0,0,0,.3);
  visibility: hidden;
  position: relative;
  left: 57px;
  background-color: white;
  overflow: hidden;
  @include basicTransition(.2s);
}

.extensibleContainer.isOpened {
  visibility: visible;
}