@import "variables_and_mixins";

.fourOhFour--background {
  background: image-url('sad-steve-scriber.svg') center 100px no-repeat $base-dark-red;
}

.fourOhFour--messageContainer {
  color: white;
}

.fourOhFour--messageContainer > h1 {
  margin: 20px 0;
}

.fourOhFour--message {
  margin: 10px 0 30px 0;
}

.fourOhFour--message > a {
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  @include basicTransition(.2s);
}

.fourOhFour--message > a:hover {
  color: $base-light-blue;
}

.fourOhFour--suggestions > h1 {
  padding: 30px 0 0 0;
}