@import "variables_and_mixins";

.invitationBox {
  height: 100%;
  padding: 0.938em 0 0 1.875em;
  background-color: $base-medium-dark-blue;
  color: white;
}

.invitationBox > .u-slimTitle,
.invitationBox--inviteForm {
  margin-bottom: 0.625em;
}

.invitationBox--close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: white;
}

.invitationBox--inviteForm > input[type="text"] {
  color: $base-gray;
  padding-left: 5px;
}

.invitationBox--inviteForm > input[type="submit"] {
  margin-left: 5px;
  color: white;
  background-color: $base-light-blue;
  border: 1px solid $base-medium-dark-blue;
  font-weight: 300;
  padding: 2.5px 10px; 
}