@import "variables_and_mixins";

.landingPage--coverBlend {
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: rgba(0,0,0,.65);
}

.landingPage--aboutScribe {
  margin: 30px auto;
  border: 1px solid white;
  color: white;
}

.landingPage--aboutScribe > h2 {
  margin: 15px 0;
}

.landingPage--aboutScribe > h2 > strong {
  font-size: inherit;
}

.landingPage--aboutScribe > .ribbon {
  margin-top: 0;
  padding-top: 0;
  margin-left: -10px;
  margin-right: 10px;
  border-width: 5px;
}

.landingPage--signup {
  color: $base-medium-light-blue;
  @include basicTransition(.2s);
}

.landingPage--signup:hover {
  color: $base-medium-dark-blue;
  text-decoration: none;
}

.landingPage--signupMenu {
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: left;
}

.landingPage--signupMenu > .socialBtn {
  max-width: 300px;
  width: 300px;
  margin: 10px 0;
  border: 0;
}

.landingPage--otherPosts > .scribeGrid--newContainer {
  position: relative;
}

.landingPage--ajaxLoader, 
.tagsSection--ajaxLoader {
  width: 64px;
  position: relative;
  left: 50%;
  margin: 0 0 0 -32px;
}

@media (max-width: $screen-sm-max) {

  .landingPage--aboutScribe > img {
    height: 60px;
  }
}