@import "variables_and_mixins";

.languageSwitcher {
  margin-bottom: 0;
}

.languageSwitcher > li:not(:last-child) {
  margin-right: 5px;
}

.languageSwitcher > li.active > a,
.languageSwitcher > li:hover > a{
  background-color: $base-gray;
  color: white;
}

.languageSwitcher > li > a {
  font-size: 12px;
  color: $base-gray;
  padding: 0 10px;
  border: 1px solid $base-gray;
  @include basicTransition(.2s);
}