@import "variables_and_mixins";
.panel {
  opacity: 0;
  position: absolute;
  top: 10px;
  padding: 10px 30px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  z-index: 50;
  color: white;
  @include fullyCustomTransition("opacity", ".2s", "ease-in-out", ".02s");

  &.fade-in{
    opacity: 1;
  }
}

.panel > small {
  font-size: 70%;
}

.panel--info {
  background-color: $base-medium-dark-blue;
}

.panel--error {
  background-color: $base-dark-red;
}