@import "variables_and_mixins";

.scribeModal--dialog {
  border-radius: 0;
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -300px;
  z-index: 99999999999999;
}

.scribeModal--content {
  border-radius: 0;
  border: 1px solid;
  padding: 0 30px;
}

.scribeModal--content.lightColored {
  background-color: white;
  color: $base-gray;
  border-color: $base-gray;
}

.scribeModal--content.darkColored {
  border-color: white;
}

.scribeModal--content h2 {
  margin: 0;
  font-weight: 300;
}

.scribeModal--header {
  padding: 25px 0 10px 0;
  border: 0;
}

.scribeModal--header-topIcon {
  background: white;
  width: 50px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -25px;
}

.scribeModal--close {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 10px;
}

.scribeModal--close > span {
  font-size: 18px
}

.scribeModal--close.darkColored > span {
  color: $base-gray;
}

.scribeModal--close.lightColored > span {
  color: white;
}

.scribeModal--body {
  padding: 0 10px 10px 10px;
}

.scribeModal--body > .scribeGrid--row {
  padding: 10px 0;
}

.scribeModal--body > .scribeGrid--row > a {
  font-size: inherit;
}

.registrationModal--options .socialBtn,
.loginModal--options .socialBtn {
  text-align: left;
  max-width: 100%;
}

.loginModal--body > .scribeForm {
  margin: 0 auto;
}

.loginModal--body .socialBtn {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: $screen-xs-max) {

  .scribeModal--dialog {
    left: 0;
    margin-left: 0;
  }

  .loginModal--body > .scribeGrid--row > [class*="scribeGrid--column"]:first-child {
    border-right: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
  }
}