@import "variables_and_mixins";

.scribeForm > .scribeGrid--row {
  padding: 5px 0;
}

.scribeForm--input {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 30px;
  margin: 5px 0;
  border: 0;
}

.scribeForm--input:focus {
  border: 0;
}

.scribeForm.hasBorders .scribeForm--input{
  border: 1px;
  border-color: rgba(0,0,0,.3);
}

.scribeForm.hasRoundedBorders .scribeForm--input {
  margin: 0 5px;
  border: 1px solid;
  border-color: rgba(0,0,0,.3);
  border-width: 1px 1px 0 1px;
}

.scribeForm.hasRoundedBorders .scribeForm--input:first-of-type {
  border-radius: 5px 5px 0 0;
}

.scribeForm.hasRoundedBorders .scribeForm--input:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom-width: 1px;
}

.scribeForm--checkbox {
  margin: 0 !important;
}

.scribeForm--formDetails > label,
.scribeForm--formDetails > a {
  font-size: 10px;
}

.scribeForm--submit {
  display: block;
  margin: 10px auto;
  min-width: 100px;
  max-width: 150px;
}

.scribeForm--required:after {
  content: '*';
}

.scribeForm--small {
  font-size: 75%;
}

.scribeForm--small a {
  font-size: inherit;
}

@media (max-width: $screen-xs-max) {
}