@import "variables_and_mixins";

.scribeNavbar {
  width: 100%;
  min-height: 60px;
  max-height: $header-height;
  padding: 0 20px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.4);
  position: relative;
  z-index: 9999;
  @include basicTransition(.2s);
}

.scribeNavbar.fixedTop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.scribeNavbar.lightColored {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.scribeNavbar.lightColored .scribeNavbar--mobileToggle > .icon-bar {
  background-color: $base-gray;
}

.scribeNavbar.up {
  top: -$header-height;
}

.scribeNavbar--header {
  float: left;
}

.scribeNavbar.offcanvas-show {
  @include basicTransformX(220px);
}

.scribeNavbar--mobileToggle {
  display: none;
}

.scribeNavbar--logoLink > img {
  height: $header-height;
}

.scribeNavbar--menu {
  margin: 0;
}

.scribeNavbar--menu > li {
  height: $header-height;
}

.scribeNavbar--menu > li:not(.hasIcon) {
  padding: 0 15px;
}

.scribeNavbar--menu > li > a:not(.scribeNavbar--icon) {
  line-height: $header-height;
  @include basicTransition(.2s);
}

.scribeNavbar--menu > li:not(.scribeNavbar--login) > a {
  font-weight: 300;
  color: $base-gray;
}

.scribeNavbar--menu > .scribeNavbar--login > a:hover {
  background-color: $base-medium-dark-blue;
}

.scribeNavbar--menu > .scribeNavbar--login > a:focus {
  text-decoration: none;
  background-color: $base-dark-blue;
}

.scribeNavbar--menu > li:not(.scribeNavbar--login) > a:hover,
.scribeNavbar--menu > li:not(.scribeNavbar--login) > a:focus {
  text-decoration: none;
  color: $base-dark-blue;
}

.scribeNavbar--menu > .hasIcon {
  position: relative;
  width: 50px;
}

.scribeNavbar--icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  background: image-url('icons/header-icons.svg') no-repeat transparent;
  @include fullyCustomTransition("background-position", ".2s", "ease-in-out", "0s");
}

.scribeNavbar--icon.homeIcon {
  background-position: 5px 5px;
}

.scribeNavbar--icon.statsIcon {
  background-position: -45px 5px;
}

.scribeNavbar--icon.writeIcon {
  background-position: -190px 5px;
}

.scribeNavbar--icon.logoutIcon {
  background-position: -240px 5px;
}

.scribeNavbar--icon.homeIcon:hover {
  background-position: 5px -45px;
}

.scribeNavbar--icon.statsIcon:hover {
  background-position: -45px -45px;
}

.scribeNavbar--icon.writeIcon:hover {
  background-position: -190px -45px;
}

.scribeNavbar--icon.logoutIcon:hover {
  background-position: -240px -45px;
}

.scribeNavbar--icon.hasTooltip ~ .tooltip {
  max-width: 350px;
  min-width: 200px;
  width: auto;
}

.scribeNavbar--menu {
  > #updater-icon {
    padding: 10px;
    -webkit-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    

    &.tada {
      -webkit-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-delay: 1s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-delay: 1s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
    }
  }

  .steve-scriber-thumb {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
  }
}

@media (max-width: $screen-xs-max), (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .scribeNavbar {
    box-shadow: 0 2px 5px rgba(0,0,0,.6);
  }

  .scribeNavbar.offcanvas-show,
  .scribeNavbar--mobileClose {
    box-shadow: inset -3px -3px 10px rgba(0,0,0,.3);
  }

  .scribeNavbar--mobileToggle {
    display: block;
    border: none;
    padding: 10px;
    margin: 8px 0 8px 5px;
    background-color: transparent;
  }

  .scribeNavbar--mobileToggle:active,
  .scribeNavbar--mobileToggle:link,
  .scribeNavbar--mobileToggle:hover {
    border: none;
    outline: none;
  }

  .scribeNavbar--mobileToggle > .icon-bar {
    display: block;
    width: 25px;
    height: 2px;
  }

  .scribeNavbar--mobileToggle > .icon-bar + .icon-bar{
    margin-top: 5px;
  }

  .scribeNavbar--header {
    padding: 0;
    float: none;
  }

  .scribeNavbar--mobileHeader {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 220px;
    height: 100% !important;
    z-index: 10;
    @include basicTransition(.2s);
    @include basicTransformX(-220px);
  }

  .scribeNavbar--mobileHeader.offcanvas-show {
    @include basicTransformX(0px);
  }

  .scribeNavbar--mobileClose {
    height: 50px;
  }

  .scribeNavbar--mobileClose > h2 {
    margin: 15px 0;
  }

  .scribeNavbar--mobileClose > h1 {
    margin: 0;
    padding: 12.5px 25px;
  }

  .scribeNavbar--mobileClose > .steve-scriber-thumb {
    margin: 5px;
  }

  .scribeNavbar--offcanvas {
    padding: 0;
    list-style: none;
    height: 100%;
    box-shadow: inset -3px -10px 10px rgba(0,0,0,.3);
  }

  .scribeNavbar--offcanvas > li,
  .scribeNavbar--offcanvas .dropdown-menu > li {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid $base-gray;
  }

  .scribeNavbar--offcanvas > li .caret {
    @include basicTransition(.1s);
  }

  .scribeNavbar--offcanvas > li.open .caret {
    border-top: 0;
    border-bottom: 4px solid;
  }

  .scribeNavbar--offcanvas > li > a,
  .scribeNavbar--offcanvas .dropdown-menu > li > a {
    font-size: 2em;
    font-weight: 300;
    padding: 0;
    color: $base-gray;
  }

  .scribeNavbar--offcanvas .dropdown-menu {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
  }
}