@import "variables_and_mixins";

.scribeGrid--container {
  @include container();
}

.scribeGrid--newContainer {
  @include newContainer();
}

.scribeGrid--row {
  @include row(); 
}

@for $i from 1 through $newContainer--columns {
  .scribeGrid--newColumn#{$i} {
    @include newColumn($i);
  }

  .scribeGrid--columnHeight#{$i} {
    @include columnHeight($i);
  }

  .scribeGrid--#{($i - 1)}-halfColumn {
    @include halfColumn($i - 1);
  }

  .scribeGrid--#{($i - 1)}-halfColumnHeight {
    @include halfColumnHeight($i - 1);
  }

  .scribeGrid--gutterLeft#{$i} {
    @include gutter("left", $i);
  }

  .scribeGrid--gutterRight#{$i} {
    @include gutter("right", $i);
  }

  .scribeGrid--gutterTop#{$i} {
    @include gutter("top", $i);
  }

  .scribeGrid--gutterBottom#{$i} {
    @include gutter("bottom", $i);
  }

  .scribeGrid--gutterBoth#{$i}.gutterVertical {
    @include gutter("top", $i);
    @include gutter("bottom", $i);
  }

  .scribeGrid--gutterBoth#{$i}.gutterHorizontal {
    @include gutter("right", $i);
    @include gutter("left", $i);
  }
}

.scribeGrid--row > [class*="scribeGrid--column"],
.scribeGrid--row > [class*="scribeGrid--newColumn"] {
  float: left;
}

@for $i from 1 through $sg-col-numbers {
  .scribeGrid--column#{$i} {
    @include col($i);
  }

  .scribeGrid--offset#{$i} {
    @include offset($i);
  }
}

@media (max-width: $screen-xs-max) {

  .scribeGrid--mobile-noGutterRight {
    @include gutter("right", 0);
  }

  .scribeGrid--mobile-noGutterLeft {
    @include gutter("left", 0);
  }

  .scribeGrid--mobile-noGutterTop {
    @include gutter("top", 0);
  }

  .scribeGrid--mobile-noGutterBottom {
    @include gutter("bottom", 0);
  }

  @for $i from 1 through $newContainer--columns {
    .scribeGrid--newMobileColumn#{$i} {
      @include mobileColumn($i);
    }

    .scribeGrid--mobileColumnHeight#{$i} {
      @include mobileColumnHeight($i);
    }
    
    .scribeGrid--#{($i - 1)}-mobileHalfColumn {
      @include mobileHalfColumn($i - 1);
    }

    .scribeGrid--#{($i - 1)}-mobileHalfColumnHeight {
      @include mobileHalfColumnHeight($i - 1);
    }

    .scribeGrid--mobileGutterLeft#{$i} {
      @include mobileGutter("left", $i);
    }

    .scribeGrid--mobileGutterRight#{$i} {
      @include mobileGutter("right", $i);
    }

    .scribeGrid--mobileGutterTop#{$i} {
      @include mobileGutter("top", $i);
    }

    .scribeGrid--mobileGutterBottom#{$i} {
      @include mobileGutter("bottom", $i);
    }
  }

  @for $i from 1 through $sg-col-numbers {
    .scribeGrid--mobileColumn#{$i} {
      @include col($i);
    }

    .scribeGrid--mobileOffset#{$i} {
      @include offset($i);
    }

    .scribeGrid--mobileNoOffset {
      margin: 0;
    }
  }
}