@import "variables_and_mixins";

.scribeFooter--divider {
  box-shadow: inset 0px 20px 10px -10px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

.scribeFooter--divider,
.scribeFooter--container > .scribeGrid--row,
.scribeFooter--container > .scribeGrid--row > .scribeGrid--newColumn8 {
  height: 150px;
}

.scribeFooter--container > .scribeGrid--row > .scribeGrid--newColumn8 {
  width: 100%;
  position: relative;
}

.scribeFooter--about {
  margin: 15px 0;
}

.scribeFooter--about > a {
  font-size: inherit;
  font-weight: inherit;
  color: $base-gray;
}

.scribeFooter--copyrightContainer {
  position: absolute;
  bottom: 5px;
}

.scribeFooter--socialLinks {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 5px;
  right: 0;
}

.scribeFooter--socialTitle {
  margin: 10px 0;
}

.scribeFooter--socialLink {
  padding: 5px 40px;
}

.scribeFooter--socialLink > a {
  color: $base-gray;
}

.scribeFooter--socialLink.twitter {
  background: image-url('icons/twitter-blue-icon.svg') top left no-repeat transparent;
}

.scribeFooter--socialLink.facebook{
  background: image-url('icons/facebook-blue-icon.svg') top left no-repeat transparent;
}

.scribeFooter--socialLink.instagram {
  background: image-url('icons/instagram-blue-icon.svg') top left no-repeat transparent;
}