@import "variables_and_mixins";

.searchForm--inputField {
  width: 100%;
  height: 50px;
  padding: 10px 40px;
  background: image-url('icons/ico-search.svg') 5px center no-repeat rgba(230, 230, 230, .9);
  border: 0;
  font-size: 20px;
  font-weight: 300;
  color: $base-gray;
}