@import "variables_and_mixins";

.socialBtn {
  min-width: 150px;
  max-width: 200px;
  width: auto;
  border: 1px solid white;
  position: relative;
  @include basicTransition(.1s);
}

.socialBtn.readerIcons {

  &:before {
    content: '';
    background-image: image-url('icons/reader_social_icons.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -15px;
  }
}

.socialBtn.followIcons {
  min-width: 50px;
  border: 1px solid $base-medium-gray;
  color: $base-gray;

  &:before {
    content: ' ';
      background: image-url('icons/ico-follow-actions.svg');
      background-position: -5px -35px;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -10px;
  }
}

.socialBtn:not(.isFollowing):hover {
  @include basicTransformScale(1.2);
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(0,0,0,.15), 2px -2px 5px rgba(0,0,0,.15);
}

.socialBtn > a {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.socialBtn--facebook > a,
.socialBtn--twitter > a,
.socialBtn--gPlus > a,
.socialBtn--email > a {
  color: white;
}

.socialBtn--recommend > a {
  color: $base-dark-red;
  font-weight: 500;
}

.socialBtn--gPlus {
  background-color: $gplus-red;

  &:before {
    background-position: -60px -110px;
  }
}

.socialBtn--facebook {
  background-color: $facebook-blue;

  &:before {
    background-position: -110px -110px;
  }
}

.socialBtn--twitter {
  background-color: $twitter-blue;
  
  &:before {
    background-position: -160px -110px;
  }
}

.socialBtn--email {
  background-color: $base-medium-dark-blue;

  &:before {
    background-position: -210px -110px;
  }
}

.socialBtn--recommend {
  background-color: white;
  border-color: rgba(0,0,0,.3);
  min-width: 200px;
  max-width: 250px;

  &:before {
    @include basicTransition(.2s);
    background-position: -260px -10px;
    left: 20px;
  }
}

.socialBtn--recommend.isRecommended {

  &:before {
    background-position: -260px -110px;
  }
}

.socialBtn--followBtn {
  margin: 20px 0;
  padding: 2px 30px;
  display: block;
  text-align: center;

  &:before {
    background-position: -5px -35px;
  }
}

.socialBtn--followBtn.isFollowing {
  
  &:before {
    background-position: -65px -35px;
  }
}

.socialBtn--followBtn.isFollowing:hover {
  border-color: white;
  color: white;
  background-color: $base-medium-dark-blue;

  &:before {
    background-position: -35px -65px;
  }
}

@media (max-width: $screen-xs-max) {
  .socialBtn {
    margin: 5px 0 0 0;
  }
}