@import "variables_and_mixins";

.suggestionBoard {
  height: 7.500em;
  border: 1px solid $base-medium-dark-blue;
  margin-top: 3.438em;
  overflow: hidden;
  position: relative;
}

.suggestionBoard.isHidden {
  display: none;
}

.suggestionBoard > .invitationBox {
  position: absolute;
  right: 0;
  z-index: 1;
}

.suggestionBoard > h5 {
  padding: 0.625em 1.250em;
  position: absolute;
  left: 0;
}

.suggestionBoard--suggestions {
  padding: 2.5em 1.250em;
}

.suggestion {
  height: 3.750em;
  margin-bottom: 3.750em;
  margin-right: 0.25em;
}

.suggestion--picture {
  width: 3.750em;
  height: 3.750em;
}

.suggestion--name {
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestion--name > a {
  font-size: inherit;
  color: inherit;
}

.suggestion--action,
.suggestion--name {
  margin: 0 0 0 0.625em;
  display: inline-block;
  vertical-align: bottom;
}

.suggestion--action > .socialBtn--followBtn {
  margin: 0.625em 0 0 0;
  max-width: 6.250em;
}