@import "variables_and_mixins";

.userInfo {
  border: 1px solid rgba(0,0,0,.3);
  margin: 0 auto;
  padding: 0.4em 0.2em;
  min-width: 21.875em;
  width: 28.125em;
  max-width: 46.875em;
  background-color: white;
}

.userInfo ~ .u-sectionStrike {
  top: 35px;
}

.userInfo > div {
  float: left;
  margin: 0 5px;
}

.userInfo--dateSection {
  width: 40px;
  text-align: center;
}

.userInfo--dateSection > .date--day {
  font-size: 25px;
}

.userInfo--pictureSection, 
.userInfo--profileThumb {
  width: 3.5em;
  height: 3.5em;
}

.userInfo--descriptionSection {
  min-width: 150px;
  width: 150px;
  max-width: 470px;
}

.userInfo--descriptionSection > a {
  display: block;
}

.userInfo--userName {
  font-size: 1em;
  color: $base-gray;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include basicTransition(.2s);

  &:hover {
    color: rgba(0,0,0,.5);
  }
}

.userInfo--textsCount {
  color: $base-light-blue;
  font-weight: 300;
  @include basicTransition(.2s);

  &:hover {
    color: $base-medium-light-blue;
  }
}

.userInfo--socialSection {
  width: 125px;
}

.userInfo--socialSection > .socialBtn {
  position: absolute;
  top: 50%;
  margin: 0;
  margin-top: -15px;
}

.userInfo--writtenBy {
  float: left;
  width: 6.250em;
  margin: 0 0 0 -70px;
  color: rgba(0,0,0,.5);
  font-size: 12px;
  font-weight: 300;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .userInfo--descriptionSection {
    min-width: 120px;
    width: 120px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .userInfo--descriptionSection {
    min-width: 100px;
    width: 100px;
  }

  .userInfo--socialSection > .socialBtn {
    right: 5px;
  }
}

@media (max-width: $screen-xs-max) {

  .userInfo > div {
    margin: 5px auto;
    text-align: center;
  }

  .userInfo > div:not(.userInfo--dateSection) {
    float: none;
  }

  .userInfo--writtenBy {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25em;
  }

  .userInfo--userName {
    font-size: 1.35em;
  }

  .userInfo--dateSection {
    width: auto;
  }

  .userInfo--socialSection > .socialBtn {
    position: relative;
    top: 0;
    margin: 0;
  }
}