/*
 ### application.css.scss index
 ### Application default styles/Resets
 ### Application styles - Main container
 ### Application styles - Header
 ### Application styles - Footer
 ### Landing page styles
 ### Error pages styles
 ### Search results page styles
 ### Contacts list page styles
 ### Application styles - CSS utility classes
 ### Application styles - Scribe reusable components
 ### Application styles - Icons
 ### Application styles - Social features (TODO)
 ### Application styles - Mobile

 *= require s3_direct_upload_progress_bars
 *= require nprogress
 *= require nprogress-bootstrap
 *= require side-comments.min
 *= require default-theme.min
 *= require hopscotch
 *= require animate
 *= require_tree .
 *= require_self
*/

@import "variables_and_mixins";
$nprogress-color: $base-medium-light-blue;
@import "nprogress";
@import "nprogress-bootstrap";


/*
	Application default styles/Resets
*/

* {
	font-family: 'Lato', sans-serif;
}

::-webkit-input-placeholder {
   font-family: 'Lato', sans-serif;
   font-weight: 300;
}

html, body, .reader-page, #text-editor-container, #text-container, #text-container > article, #text-editor-container > article{
	height: 100%;
}

a {
	&:hover {
		text-decoration: none;
	}
}

input::-webkit-input-placeholder {
	font-family: 'Lato', sans-serif;
	color: $base-gray;
}

input:-ms-input-placeholder {
	font-family: 'Lato', sans-serif;
	color: $base-gray;
}

input:-moz-placeholder {
	font-family: 'Lato', sans-serif;
	color: $base-gray;
}

input::-moz-placeholder {
	font-family: 'Lato', sans-serif;
	color: $base-gray;
}

textarea {
	resize: none;
}

h1 {
	font-size: 2.250em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.500em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 0.875em;
}

h6 {
	font-size: 0.750em;
}

/*
	Application styles - Main container
*/

#scribe-application-container{
	padding-top: 60px;
	@include basicTransition(.2s);

	&.offcanvas-show {
		@include basicTransformX(220px);
	}
}

.flash{
	position: absolute;
	top: 0;
	width: 800px;
	padding: 10px;
	z-index: 9999999;
	left: 50%;
	margin-left: -400px;
	height: 50px;
	color: white;
	font-weight: 300;
	font-size: 18px;

	&.bg-notice {
		background-color: $base-medium-dark-blue;
	}

	&.bg-error {
		background-color: $base-dark-red;
	}
}

/*
	Landing page styles
*/

#scribe-application-container {

	> #mobile-landing {

		> #scribe-mobile-header {
			background: image-url('email/covers/email-cover-5.jpg') center center no-repeat transparent;
			width: 100%;
			height: 130px;
			background-size: cover;
		}

		> #scribe-mobile-banner {
			width: 100%;
			height: 200px;
		}

		> #scribe-mobile-footer {

			> #subscribe-section {
				padding: 10px 20px;

				> h5 {
					margin-top: 0;
				}

				> .facebook-icon-bg {
					background: image-url('icons/facebook_white_icon_orig.svg') left center no-repeat $facebook-blue;
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 70px;
					font-size: 24px;
					color: white;
				}
			}
		}
	}
}

/* 
	Contacts list page styles
*/

#existing-contacts {

	.section-header {
		height: 100px;
		@include align-middle;

		> h3 {
			font-weight: 300;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
	}

	.follow-all-btn {
		margin-left: 0;
		display: block;
		text-align: center;
	}

	#skip-step {
	    background: none;
	    border: none;
	    padding: 10px 0;
	    color: #068c9e;

	    &:active {
	    	outline: none;
	    	border: none;
	    }
	}

	.contacts-list {
		overflow: hidden;
	}
}

#mail-contacts-list {

	.section-header {

		h3 {
			font-weight: 300;
		}
	}

	.email-contacts {
		font-weight: 300;
	}

	.actions-row {
		overflow: hidden;

		> button {
			padding: 5px 10px;
			margin-right: 10px;

		    &:active {
		    	outline: none;
		    	border: none;
		    }
		}
	}

	form {
	    margin-top: 20px;

	    > #results {
		    padding: 0;
		    list-style: none;

		    > li {
		    	margin-bottom: 30px;

		    	input[type="checkbox"] {
		    		float: left;
		    		width: 20px;
		    		height: 20px;
		    		margin-top: 17.5px;
		    		margin-right: 5px;
		    	}


		    	> label {
		    		font-weight: 300;
		    		color: $base-gray;

			    	> .steve-scriber-thumb {
			    		margin-right: 10px;
			    	}

		    		> .contact-info {
		    			padding-top: 5px;

		    			> span {
		    				display: block;
		    			}
		    		}
		    	}
		    }
	    }
	}
}

/*
	Application styles - CSS utility classes
*/

.form-group {

	&.has-errors {

		input, .input-group-addon {
			border-color: red !important;
		}

		.error-msg {
			color: red !important;
		}
	}
}

[data-disabled] {
	background-color: rgba(0,0,0,.3) !important;
	color: $base-light-gray !important;

	&:hover {
		@extend [data-disabled];
	}
}

.horizontal-list {
	list-style: none;

	li {
		float: left;
	}
}

.container-scribe {
	padding-bottom: 50px;
}

.thumb {
    display: block;
    width:  30px;
    height:  30px;
    border-radius: 100px;
}

.rounded-image {
    border-radius: 100px;
}

.btn-scribe{
    padding: 1em;
    color: white;
    text-transform: uppercase;

    &.btn-scribe-lb {
		background-color: $base-light-blue;
	}

	&.btn-scribe-mdb {
		background-color: $base-medium-dark-blue;
	}

	&.btn-scribe-alert {
		background-color: $base-medium-red;
		border: 1px solid $base-dark-red;
	}
}

.full-width-btn {
	width: 100%;
}

nav {

	&.pagination {
		visibility: hidden;
	}
}

/*
	Application styles - Scribe reusable components
*/

#{$sg-container-class} {
	@include container();
}

#{$sg-row} {
	@include row();

	> [class^="sg-col"] {
		float: left;
	}
}

@for $i from 1 through $sg-col-numbers {
	#{$sg-col}-#{$i} {
		@include col($i);
	}

	#{$sg-off}-#{$i} {
		@include offset($i);
	}
}

.steve-scriber-thumb {
	background: image-url('missing_photo.svg') center center no-repeat transparent;
	background-size: cover;
	width: 3.750em;
	height: 3.750em;
}

.follow-all-btn {
  padding: 5px 30px;
  color: white;
  background-color: $base-medium-dark-blue;
  border: 1px solid $base-dark-blue;
  margin-left: 30px;
  @include basicTransition(.2s);

  &:hover {
  	background-color: $base-dark-blue;
  	border-color: $base-medium-dark-blue;
    	color: white;
  }
}

div.hopscotch-bubble {
	border: 1px solid white;
	background-color: $base-medium-light-blue;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	z-index: 1;

	.hopscotch-bubble-number {
		display: none;
	}

	&.invisible {
		visibility: visible;
	}

	&[classˆ=fade-in] {

		&.invisible {
			-webkit-animation-duration: .5s;
			-ms-animation-duration: .5s;
			-moz-animation-duration: .5s;
			animation-duration: .5s;
			-webkit-animation-delay: .05s;
			-ms-animation-delay: .05s;
			-moz-animation-delay: .05s;
			animation-delay: .05s;
		}
	}

	&.fade-in-up {

		&:not(.invisible) {
			-webkit-animation-name: bounceInDown;
			-ms-animation-name: bounceInDown;
			-moz-animation-name: bounceInDown;
			animation-name: bounceInDown;
		}
	}

	&.fade-in-left {

		&:not(.invisible) {
			-webkit-animation-name: boucneInLeft;
			-ms-animation-name: boucneInLeft;
			-moz-animation-name: boucneInLeft;
			animation-name: boucneInLeft;
		}
	}

	&.animated {
		-webkit-animation-duration: .8s;
		-ms-animation-duration: .8s;
		-moz-animation-duration: .8s;
		animation-duration: .8s;

		&.tada {
			-webkit-animation-duration: 1s;
			-ms-animation-duration: 1s;
			-moz-animation-duration: 1s;
			animation-duration: 1s;
		}
	}

	.hopscotch-bubble-content {
		margin: 0;

		h3 {
			font-size: 20px;
			margin-bottom: 10px;
		}

		.hopscotch-content {
			font-weight: 300;
			line-height: 1.3
		}

		h3, .hopscotch-content {
			font-family: 'Lato', sans-serif;
			color: white;
		}
		
		.steve-scriber-thumb {
			margin: 0 auto;
		}

		.step-thumb {
			display: block;
			height: 80px;
		}

		.recommend-thumb {
			background: image-url('updates/recommend_update.png') center center no-repeat transparent;
		}

		.comments-thumb {
			background: image-url('updates/comments_update.png') center center no-repeat transparent;
		}

		.social-networks-thumb {
			background: image-url('updates/social_networks_update.png') center center no-repeat transparent;			
		}
	}

	.hopscotch-bubble-arrow-container {

		&.up {

			.hopscotch-bubble-arrow-border {
				border-bottom-color: white;
				border-width: 15px;
				position: relative;
				top: 7px;
			}

			.hopscotch-bubble-arrow {
				border-bottom-color: $base-medium-light-blue;
				border-width: 15px;
				top: -7px;
			}
		}

		&.left {

			.hopscotch-bubble-arrow-border {
				border-right-color: white;
				border-width: 16px;
				position: relative;
				left: 5px;
			}

			.hopscotch-bubble-arrow {
				border-right-color: $base-medium-light-blue;
				border-width: 16px;
				left: 6px;
				top: -32px;
			}
		}
	}

	.hopscotch-nav-button {

		&.next, &.prev {
			background-color: white;
			background-image: none;
			border-radius: 0;
			color: black;
			text-shadow: none;
			font-weight: 300;
			padding: 5px 25px;
			line-height: 1;
			height: auto;
			width: auto;
			@include basicTransition(.2s);

			&:hover {
				background-color: $base-medium-dark-blue;
				border-color: $base-medium-light-blue;
				background-image: none;
				color: white;
			}
		}
	}
}

.section-divider {
	box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
	margin-top: 40px;
	height: 10px;
}

.ribbon {
  @include ribbon();

  &.dark-blue {
		border-right-color: $base-dark-blue;
		border-left-color: $base-dark-blue;
  }

  &.white {
		border-right-color: white;
		border-left-color: white;
  }
}

.see-more-container {
	margin-bottom: 10px;

	> .see-more {
		display: inline-block;
		padding: 5px 20px;
		border: 1px solid $base-gray;
		color: $base-gray;
		font-size: 20px;
		font-weight: 300;
	}
}

/* 
	STATS PAGE
*/

.text-date {
	text-align: center;
	color: $base-medium-dark-blue;

	.day {
		font-weight: 700;
	}

	.month, .year {
		font-weight: 300;
	}
}

.listed-text {
	padding: 0;
	height: 150px;
	margin-top: 10px;
	box-shadow: -2px 10px 10px -12px rgba(0, 0, 0, .3), -2px 10px 5px -8px rgba(0, 0, 0, .3);
	@include align-middle();

	> li {
		display: inline-block;
		vertical-align: middle;
		float: none;

		&.text-information {
			color: $base-gray;
			@include margin("left", 2em);

			.title {
				font-weight: 700;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.subtitle {
				font-weight: 300;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&.text-stat {
			color: $base-medium-light-blue;

			h1 {
				font-weight: 700;

				> a {
					font-size: inherit;
					color: inherit;
				}
			}
		}

		&.text-refs {
			color: $base-gray;

			.ref {
				font-weight: 700;
			}

			.count {
				font-weight: 300;
			}
		}

		&.text-access {
			color: $base-medium-dark-blue;
			border: 1px solid $base-medium-dark-blue;
			padding: 5px 10px;
			@include basicTransition(.4s);

			&:hover {
				background-color: $base-medium-dark-blue;
				color: white;
				border-color: white;
			}

			a {
				color: inherit;
			}
		}

		h1,h2,h3,h4,h5,h6 {
			margin: 0;
		}
	}
}

.monster-font {
	font-size: $monster-font;
}

.section-header {
	overflow: hidden;

	> [class^="sg-col-"] {
		height: 150px;
		@include align-middle;
		
		h2 {
			margin: 0;
			font-weight: 300;
		}

		h2, a, form {
			display: inline-block;
			vertical-align: middle;
		}

		> form {
			width: 100%;
			margin-left: -0.25em;
		}
	}
}

#user-navbar {
	height: $header-height;
	background: white;
	box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.15);
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;

	> ul {
		margin-bottom: 0;
		height: inherit;
		list-style: none;

		> li {
			height: inherit;
			float: left;
			@include basicTransition(.2s);

			&.active, &:hover {
				border-bottom: 5px solid $base-dark-blue;

				> .user-navbar-btn {
					color: $base-medium-light-blue;
				}
			}

			&:not(:first-child) {
				@include margin("left", 1.250em);
			}

			> .user-navbar-btn {
				height: inherit;
				display: inline-block;
				padding: 0 0.313em;
				font-size: 1.125em;
				color: $base-gray;
				line-height: $header-height;
			}
		}
	}
}

#header-cover {
	width: 100%;
	height: 100%;
	background: image-url('gradiente-branco.png') center center repeat transparent;
	background-size: contain;
	position: absolute;
	bottom: -0.5px;
	@include fullyCustomTransition("all, height", ".5s, .4s", "ease-in-out, ease-in-out", "0s, 0s");
}

.tag {
	margin-right: 5px;
	border: 1px solid white;
	margin-top: 10px;
	margin-bottom: 0;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.light-tag {
		height: auto;
		color: $base-light-gray;
		border-color: $base-light-gray;
		margin: 20px 8px 20px 0;
		padding: 0 5px;
		font-size: 12px;
	}

	span {
		padding: 0 5px;
		font-weight: 400;
		max-width: 90%;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.delete-tag {
		cursor: pointer;
	}
}

.load-more-container {
	padding: 10px 30px;
}

.load-more {
  text-align: center;
  padding: 10px 30px;
  font-weight: 300;
  border: 1px solid $base-gray;
  color: $base-gray;
  margin-bottom: 15px;
  margin-top: 15px;

  @include basicTransition(.2s);

  &:hover {
  	background-color: $base-medium-dark-blue;
  	color: white;
  }
}

.search-field {
  width: 100%;
	padding: 10px 40px;
	background: image-url('icons/ico-search.svg') 5px center no-repeat rgba(230, 230, 230, 0.9);
	border: 0;
	font-size: 20px;
	font-weight: 300;
  color: $base-gray;
}

/*
	Application styles - Icons
*/

.icon {
	padding: 25px;
}

.about-board-icon {
	padding: 10px;
}

.edit-icon-white {
	background: image-url('icons/ico-edit-gray.svg') center center no-repeat transparent;	
}

.picture-icon {
	background: image-url('icons/ico-picture.jpg') center center no-repeat transparent;	
}
		
.twitter-footer-icon {
	background: image-url('icons/twitter-blue-icon.svg') top left no-repeat transparent;
}

.facebook-footer-icon {
	background: image-url('icons/facebook-blue-icon.svg') top left no-repeat transparent;
}

.instagram-footer-icon {
	background: image-url('icons/instagram-blue-icon.svg') top left no-repeat transparent;
}

.writer-glass-icon {
	background: image-url('icons/ico-oculos-lapis.svg') no-repeat;
}

.reader-glass-icon {
	background: image-url('icons/ico-oculos-book.svg') no-repeat;
}

.social-icon {
	background: image-url('social-ico.png') no-repeat;
	padding: 75px 100px !important;
}

.facebook-icon {
	background: image-url('icons/facebook-white-icon.svg') center center no-repeat transparent;
}

.facebook-icon-bg {
	background: image-url('icons/facebook_white_icon_orig.svg') center center no-repeat transparent;
}

.twitter-icon {
	background: image-url('icons/twitter-blue-icon.svg') center center no-repeat transparent;
}

.delete-icon {
	background: image-url('icons/ico-deletar.svg') center center no-repeat transparent;	
}

/*
	Application styles - Mobile
*/

@media (max-width: $screen-xs-max) {
	* {
		font-size: 10px;
	}

  .textContainer {
    width: auto;
    padding: 0 1.875em;
  }

  .side-comment {
    display: none;
  }

  .commentable-section {
    padding-right: 0;
  }

	@for $i from 1 through $sg-col-numbers {
		#{$sg-mb-col}-#{$i} {
			@include col($i, true);
		}
	}

	.text-half-container {
		width: 100%;
	}

	#landing-page {
		
		> .sg-container {

			> section {
				
				&#login-section {
					padding: 15px 50px 0 50px;
				}
			}
		}
	}

	.scribeNavbar {

		.container {
			height: 50px;
		}
	}

	#header-cover {
		height: 175%;
		z-index: 1;
	}

	#text-body::after {
		padding: 0 1.875em;
		width: auto;
	}

	#text-container {

		> article {

			#text-suggestions {

				> .suggestions-container {

					> h1 {
						padding-left: 10px;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	*{
		font-size: 12px;
	}

	.sg-container {
		padding: 0 10px;
	}

	#landing-page {

		> .sg-container {

			> section {

				&#login-section {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	*{
		font-size: 14px;
	}

	.sg-container {
		padding: 0 20px;
	}

	#landing-page {

		> .sg-container {

			> section {

				&#login-section {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	*{
		font-size: 16px;
	}
}