/*
 ### categories.css.scss
 ### Categories styles - Header
 ### Categories styles - Body
*/

@import "variables_and_mixins";

/* 
	Categories styles - Header
*/

#categories-header {
	background: image-url('covers/categories/default-cover-1.jpg') center center no-repeat transparent;
	height: 250px;
	position: relative;

	> .sg-container {
		height: 190px;
		@include align-middle();

		#categories-list {
			display: inline-block;
			vertical-align: middle;
			border: 0;
			width: 100%;
			padding: 0;
			margin-left: -0.25em;

			li {
				@include basicTransition(.4s);

				> a {
					color: white;
					border: 0;
					font-weight: 300;
					background: transparent;

					&:hover {
						font-weight: 700;
					}
				}

				&.active {
					@include basicTransformScale(1.2);
					z-index: 1;

					> a {
						background-color: transparent;
						border: 0;
						font-weight: 700;
					}
				}

				&:not(:only-child):first-child {
					background-color: $base-dark-blue;
					
					@include margin("left", 5%);
				}

				&:not(:only-child):last-child {
					background-color: $base-medium-light-blue;
					@include margin("right", 5%);
				}

				&:not(:first-child):not(:last-child) {
					background-color: $base-medium-dark-blue;
				}

				&:only-child {
					background-color: $base-medium-dark-blue;

					> a {
					    padding: 10px 15px;
					    display: block;
					    font-weight: 700;
					}
				}
			}
		}
	}
}