/*
 ### texts.css.scss
 ### Text styles - Editor page
 	### Text styles - Editor page - Header
 ### Text styles - Show text page
 	### Text styles - Show text page - Header
 ### Text styles - Text general styles
*/
@import "variables_and_mixins";

/*
	Text styles - Editor page
*/

#text-editor-container {
	min-height: 100%;
}

/*
	Text styles - Editor page - Header
*/
#text-header {
	color: $base-gray;
	position: relative;

	@include fullyCustomTransition("background, min-height", ".4s, .4s", "ease-in-out, ease-in-out", "0s, 0s");
	
	&.editor {
		color: black;
		min-height: 350px;
		overflow: hidden;
		box-shadow: 1px 1px 20px rgba(0,0,0,.15);
		z-index: 2;

		> #cover-photo {
			height: inherit;
			overflow: hidden;
			position: absolute;
			width: 100%;
			z-index: 1;

			> img {
				width: 100%;
			}
		}

		> .gradient-overlay {
			position: absolute;
			width: 100%;
			min-height: inherit;
			z-index: 2;
		}

		>.textContainer {
			position: relative;
			z-index: 2;
			padding-top: 100px;
		}
	}


	&.error-overlay {

		&:after {
			content: " ";
			background-color: rgba(255, 0, 0, 0.3);
			height: inherit;
			width: 100%;
			position: absolute;
			top: 0;
		}
	}

	> .sg-container {

		.sidebar-area {
			position: absolute;
			bottom: 0;
			width: 60px;

			> .text-actions {
				padding: 0;
				margin: 0;
				background-color: rgba(255,255,255,.9);
				list-style: none;

				> li {
					height: 60px;
					overflow: hidden;
					text-align: center;
					@include fullyCustomTransition("min-width", ".2s", "ease-in-out", "0s");

					&:not(.tags) {
						border-right: 1px solid $base-gray;
						z-index: 9999999999999;
						min-width: 60px;
						width: inherit;
						cursor: pointer;
					}

					&.picture-icon {
						height: 60px;
						background-size: cover;
						opacity: .6;

						&:hover {
							opacity: 1;
						}

						form {
							cursor: pointer;
							height: inherit;
							opacity: 0;
							height: inherit;

							input {
								@extend form;
								width: 100%;
								height: inherit;
							}
						}
					}

					&:not(:last-child) {

						&:not(.language) {
							border-bottom: 1px solid $base-gray;
						}
					}

					&.expand {
						min-width: 600px;
						box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.2), 1px 1px 10px rgba(0, 0, 0, 0.2);
						border-bottom: 0;
						border-right: 0;
						position: relative;
						background-color: white !important;

						> .close-btn {
							position: absolute;
							right: 10px;
							top: 50%;
							margin-top: -11px;
						}
					}

					&.tags {
						background: image-url('icons/ico-tag-preto-linha.svg') 15px center no-repeat white;
						border-top: 1px solid $base-gray;
						text-align: left;
						overflow: visible;

						.glyphicon {
							position: absolute;
							cursor: pointer;
							top: 185px;
							background-color: white;
							z-index: 99999999999;
							padding-top: 20px;

							&:before {
								display: block;
								height: 20px;
							}

							&#left {
								left: 60px;
								padding-right: 5px;

								&[data-target="0"] {
									opacity: .3;
								}
							}

							&#right {
								left: 584px;
								padding-right: 5px;
								padding-left: 5px;

								&[data-target="4"] {
									opacity: .3;
								}
							}
						}

						#tags-form {
							padding: 15px 15px 0 0;
							width: 550px;
							margin-left: 60px;
							margin-top: -1px;
							border-top: 1px solid $base-gray;
							background-color: white;
							height: inherit;
							overflow: hidden;
							position: relative;


							.tags-container {
								position: absolute;
								left: 0;
								bottom: 0;
								margin-left: 20px;
								@include fullyCustomTransition("left", ".2s", "ease-in-out", "0s");

								#tags {
									position: absolute;
									bottom: 15px;
									min-width: 1000px;
									
									.tag {
									    border: 1px solid $base-gray;
									    color: $base-gray;
									    padding: 0 5px;
									    margin: 0 5px;
									    position: relative;
									    z-index: 999999;

									    .delete-tag {
									    	cursor: pointer;
									    	padding: 0 5px;
									    }
									}
								}

								#tag-name {
									position: absolute;
									bottom: 10px;
									width: 300px;
									margin-top: -5px;
								    padding-left: 15px;
									border: 0;
								    border-radius: 0;
							    	color: $base-gray;
								    float: right;
								    box-shadow: none;
							    	background: transparent;
								    box-shadow: none;

								    &[disabled="disabled"] {
								    	visibility: hidden;
								    }
								}
							}
						}
					}

					> .description {
						font-size: 12px;
						font-weight: 300;
						line-height: 60px;
					}

					> .extensible-container {
						position: relative;
						overflow: hidden;
						background-color: rgba(255,255,255,.9);
						height: 60px;
						margin-left: 60px;
						margin-top: -60px;
						padding-left: 15px;

						> li {
							height: inherit;
							line-height: 60px;

							&:not(:last-child) {
								margin-right: 20px;
							}

							&.active {

								> a {
									background-color: $base-medium-dark-blue;
									color: white;
									border-color: $base-medium-dark-blue;
								}
							}

							> a {
								@include fullyCustomTransition("color, background-color", ".2s,.2s", "ease-in-out, ease-in-out", "0s,0s");
								padding: 5px 15px;
								border: 1px solid $base-gray;
								color: $base-gray;

								&:hover, &[data-selected] {
									background-color: $base-medium-dark-blue;
									color: white;
									border-color: $base-medium-dark-blue;
								}
							}
						}
					}
				}
			}
		}

		.main-area {
			max-width: 700px;
			padding-left: 75px;
			padding-bottom: 150px;

			&.text-header-content {
				@include fullyCustomTransition("color, padding-top", ".4s, .4s", "ease-in-out, ease-in-out", "0s, 0s");
			}
		}
	}
  	
  h1 {
		margin: 0;
		font-family: 'Lato', serif;
		font-size: 3.125em;
		font-weight: 800;
		word-wrap: break-word;
		color: white;
		color: $base-gray;
		position: relative;
		z-index: 10;
	}

	h2 {
		font-family: 'Lato', serif;
		margin-top: 10px;
		font-size: 1.5em;
		word-wrap: break-word;
		font-weight: 300;
		color: white;
		color: $base-gray;
		position: relative;
		z-index: 10;
	}
}
/*
	Text styles - Text general styles
*/

#words-counter {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  background-color: white;
  z-index: 99999999999;
  color: rgba(0,0,0,.35);
}

.placeholdify {

	&:empty {
		@include placeholdify;
	}
}

#nprogress{

	&.uploading-pic {

		> .bar {
		    z-index: -1;
		    height: 340px;
		    box-shadow: none;

		    > .peg {
	    		box-shadow: none;
		    }
		}
	}
}

.editable {

	&:focus {
		outline: none;
	}
}

#text-body{
	margin-bottom: 3.125em;
	min-height: 300px;
	position: relative;

	#text {
		@include basicTransition(.2s);

		~ul {
			@include basicTransition(.2s);
		}

		&.side-comments-open, &.side-comments-open~ul {
			@include basicTransformX(-200px);
		}

		.side-comment {
			right: -50px;

			&.active {

				.marker {
					background: $base-medium-light-blue;
					opacity: 1;

					span {
						color: white;
					}
				}

				&:not(.has-comments) {

					.marker {
						background: white;
						border-color: $base-medium-light-blue;

						&:before {
							color: $base-medium-light-blue;
						}
					}
				}
			}

			&:not(.has-comments) {

				.marker {
					border-color: $base-gray;

					&:hover {
						border-color: $base-medium-light-blue;
						background: white;

						&:before {
							color: $base-medium-light-blue;
						}
					}
				}
			}

			.marker {
				width: 17px;
				height: 17px;
				border-radius: 0;
				border: 1px solid $base-medium-dark-blue;
				background: white;
				opacity: .35;
				@include fullyCustomTransition("opacity, border-color, color, background", ".2s, .2s, .2s, .2s", "ease-in-out, ease-in-out, ease-in-out, ease-in-out", "0s, 0s, 0s, 0s");

				&:before {
					width: 14px;
					height: 14px;
					line-height: 13px;
					color: $base-gray;
				}

				&:after {
					content: none;
				}

				&:hover {
					opacity: 1;
				}

				span {
					background-color: $base-medium-dark-blue;
					line-height: 15px;
					font-size: 15px;
					font-weight: 700;
					width: 15px;
					height: 15px;
				}
			}


			.add-comment {
				@include basicTransition(.2s);

				&:hover {
					color: $base-medium-light-blue;

					&:before {
						color: $base-medium-light-blue;
						border-color: $base-medium-light-blue;
					}
				}

				&:before {
					color: $base-gray;
					border: 1px solid $base-gray;
					line-height: 18px;
				}
			}

			.action-link {
				color: $base-gray;

				&:hover {
					color: $base-medium-light-blue;
				}
			}

			.comments-wrapper {
				width: 300px;
				max-height: 500px;
				overflow: auto;
				padding: 10px;
			}

			.delete, .actions {
				margin-left: 0;
			}

			div[class*="-form"] {
				border: 0;
				border-left: 1px solid $base-medium-light-gray;
				padding: 15px 10px;

				.comment-box {
					width: 100%;
					margin-top: 25px;
					max-height: 100px;
					padding-right: 10px;
					overflow: auto;
				}

				&:before, &:after {
					content: " ";
					border: solid transparent;
					height: 0;
					width: 0;
					position: absolute;
					top: 20px;
					left: 0;
					pointer-events: none;
				}

				&:after {
					border-right-color: white;
					border-width: 10px;
					border-left-width: 0;
					margin-top: 1px;
					margin-left: 1px;
				}

				&:before {
					border-right-color: $base-medium-light-gray;
					border-width: 11px;
					border-left-width: 0;
				}
			}

			.author-avatar {

				img {
					display: block;
				}
			}

			.right-of-avatar {
				float: none;
				overflow: hidden;
			}

			.author-name {
				display: block;
			}

			.comment {
				width: auto;
				display: block;
				max-height: 100px;
				padding-right: 10px;
				line-height: 1.5;
				overflow: auto;
			}

			ul {
				list-style: none;

				&.replies {
					padding-left: 0;

					li {
						padding: 5px 10px;
					}
				}

				&.comments {

					li {
						border: 0;
						border-left: 1px solid $base-medium-light-gray;
						margin-bottom: 10px;
						padding: 15px 10px;

						&:before, &:after {
							content: " ";
							border: solid transparent;
							height: 0;
							width: 0;
							position: absolute;
							top: 20px;
							left: 0;
							pointer-events: none;
						}

						&:after {
							border-right-color: white;
							border-width: 10px;
							border-left-width: 0;
							margin-top: 1px;
							margin-left: 2px;
						}

						&:before {
							border-right-color: $base-medium-light-gray;
							border-width: 11px;
							border-left-width: 1px;
						}
					}
				}
			}
		}

		> b, > i {

			&.text-element {
				display: block;
			}
		}
	}
	
	.text-element {
		word-wrap: break-word;
		line-height: 2em;
		font-family: 'Libre Baskerville', serif;
		font-size: 1.125em;
		color: $base-gray;
		text-align: justify;

		.text-element {
			font-size: inherit;
		}
	}

	blockquote {

		&.text-element {
			font-size: 1.875em;
			font-style: italic;
			text-align: center;
			border-left: 0;
			padding: 0;
			margin: 1.875em 0;
			color: $base-gray;

			.text-element {
				@extend blockquote;
				font-size: inherit;
			}

			a {
				color: black;
				text-decoration: underline;
			}
		}

		> .side-comment {
			font-style: normal;
			text-align: justify;
			top: 10px;
		}
	}

	a {

		&.text-element {
			color: black;
			text-decoration: underline;
		}
	}

	div:not(.comment-box) {
		font-size: 1em;

		&.contains-image {
			padding: 3.750em 0;
			font-size: 1em;

			> figure {
				font-size: 1em;

				> .image-container {
					overflow: hidden;
					
					&.focused-figure {						
						border: 3px solid $base-medium-light-blue;

						> img {
							outline: none;
						}
					}
				}

				&.is-full-show {
					padding: 1.250em 0.313em;

					> .image-container {
						margin: 0 auto;
						max-width: 50em;

						> img {
							width: 100%;
						}
					}

					> figcaption {
						font-size: 0.875em;
						color: $base-gray;
						font-style: italic;
						text-align: center;
						outline: none;

						&:not(:empty), &.placeholdify {
							padding-top: 1.875em;
						}

						.text-element {
							font-size: inherit;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

	.side-comment:not(.has-comments) {
		display: none;
	}

	#text-body #text.side-comments-open,
	#text-body #text.side-comments-open ~ ul {
		@include basicTransformX(-300px);
	}
}

@media (max-width: $screen-xs-max) {
	#text-body {

		.text-element {
			font-size: 1.5em;

			.text-element {
				font-size: inherit;
			}
		}
	}
}