/*
 ### user.css.scss index
 ### User styles - Forgot password page
 ### User styles - User header
 ### User styles - User containers
 ### User styles - User sidebar
 ### User styles - Formatted texts
 ### User styles - Insert tags form
 ### User styles - Timeline or search sidebar
 ### User styles - Followings or followers
 ### User styles - Registration
 ### User styles - Stats
 ### User styles - Facebook friends
 ### User styles - Edit page
*/

@import "variables_and_mixins";

/*
	User styles - Forgot password page
	#TODO: Page relies on general styling for now, no specific styles.
*/

/*
	User styles - User header
*/

#user-header-info {
	position: relative;

	&.edit-page {

		> .sg-row {
			height: 1100px;
			@include align-middle;

			> img {
				width: 150px;
				border: 2px solid white;
				display: block;
				position: relative;
				top: -86%;
				left: 50%;
				margin-left: -75px;
			}

			> [class^="sg-col"] {
				height: inherit;
			}

			> #photo-info {
				box-shadow: -200px -5px 150px -75px rgba(0,0,0,.2);

				> #cover-header {
					height: 40%;
					position: relative;

					> .image-upload {
						position: absolute;
						bottom: 0;
						background-color: rgba(255,255,255,.9);
						height: 60px;
						padding-top: 5px;
						padding-left: 20px;

						> .upload-btn {
							width: 250px;
							height: 50px;
							border: 1px solid $base-medium-dark-blue;
							margin: 0 auto;
							display: inline-block;
							color: $base-medium-dark-blue;
							@include basicTransition(.2s);

							&:hover {
								background-color: $base-medium-dark-blue;
								color: white;
							}

							> span {
								position: relative;
								top: 10px;
								font-size: 18px;
								font-weight: 300;
							}

							> form {
								opacity: 0;
								width: inherit;
								height: inherit;
								margin-top: -26px;

								> input {
									width: inherit;
									height: inherit;
									cursor: pointer;
								}
							}
						}
					}
				}

				> #misc-area {
					height: 60%;

					h3 {
						font-weight: 300;
						color: $base-medium-dark-blue;
					}

					#notifications-area, #social-area {
						padding-left: 20px;
					}

					#social-area {
						padding-bottom: 20px;
						box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.3);
					}

					#notifications-area {

						> .edit-form {

							>.checkbox {
							
								> label {
									font-size: 18px;
									font-weight: 300;
									
									> input[type="checkbox"] {
										width: 20px;
										height: 20px;
									}
								}
							}

							> .form-group {

								> .sg-row {

									#save-notifications {
										background-color: $base-medium-dark-blue;
										border: 1px solid white;
										padding: 5px 30px;

										&:hover {
											color: white;
										}
									}

									#cancel-notifications {
										background-color: white;
										color: $base-medium-dark-blue;
										border: 1px solid $base-medium-dark-blue;
										padding: 5px 30px;
										margin-right: 10px;
									}
								}
							}
						}
					}

				}
			}

			> #user-info {
				margin-left: -0.2em;

				> .edit-form {
					width: 70%;
					margin: 0 auto;

					> .form-group {
						margin-bottom: 0;

						> .form-control, > .field_with_errors > .form-control {
							border-bottom: 1px solid $base-gray;
							border-color: $base-gray;

							&:focus {
								box-shadow: none;
							}
						}

						> input {
							color: $base-medium-dark-blue;
							font-size: 24px;
							font-weight: 300;
						}

						> input, > select {
							margin-top: 0;
						}

						> textarea {
							margin-top: 10px;
						}

						#deactivate-account {
							font-size: 14px;
						}

						#save-btn {
							background-color: $base-medium-dark-blue;
							border: 1px solid white;
							padding: 5px 30px;

							&:hover {
								color: white;
							}
						}

						#cancel-btn {
							background-color: white;
							color: $base-medium-dark-blue;
							border: 1px solid $base-medium-dark-blue;
							padding: 5px 30px;
							margin-right: 10px;
						}
					}

					> .checkbox-inline {
						font-size: 12px;
						margin-bottom: 20px;
					}
				}		
			}
		}
	}
}

/*
	User styles - User containers
*/

.user-section {
	&#fol-section {
		overflow: hidden;
	}
}

/*
	User styles - Followings or followers
*/

.user-grid-container {
    width: 318px;
    margin-bottom: 0;
    height: 210px;
    float: left;
    font-size: 0; //Fix for display inline-block elements spacing
    margin-bottom: 60px;
    @include align-middle;

    &:not(.last-col) {
    	margin-right: 23px;
    }

    >.fol-options {
	    width: 61px;
	    padding: 0;
	    display: inline-block;
	    vertical-align: top;
	    list-style: none;

		> li {
			width: 60px;
			height: 60px;
			cursor: pointer;
	    	border-right: 1px solid $base-medium-dark-blue;

			&:not(:last-child) {
				border-bottom: 1px solid $base-medium-dark-blue;
			}

			&.text-date {
				height: 90px;
				@include align-middle;
				
				> div {
					display: inline-block;
					vertical-align: middle;

					> h2, > h4, > h5 {
						margin: 0;
					}

					> h2 {
						font-weight: 700;
					}
				}
			}

			&.fof {
				@include basicTransition(.2s);
				width: 60px;
				height: 60px;
				padding-left: 60px;
				position: relative;
				overflow: hidden;

				&.following-btn {
					background: image-url('icons/ico-following.svg') 5px -35px no-repeat white;

					&.expand {
						background-position: 5px 5px;
					}
				}

				&.follow-btn {
					background: image-url('icons/ico-follow.svg') 5px -35px no-repeat white;

					&.expand {
						background-position: 5px 5px;
					}
				}

				&.expand {
					border-right: none;
					color: white;
					background-color: $base-medium-dark-blue;
					width: 300px;
					box-shadow: -1px -1px 10px rgba(0,0,0,.2), 1px 1px 10px rgba(0,0,0,0.2);
				}
			}
		}
	}

	> .fol-info-container {
		height: 210px;
		width: 257px;
		display: inline-block;

		> .fol-info {
			vertical-align: top;
			padding-left: 10px;
			height: 105px;
			position: relative;

			> h3 {
				color: $base-gray;
				margin-top: 0;
				margin-bottom: 0;
				font-size: 21px;

				overflow: hidden;
				text-overflow: ellipsis;
				word-wrap: break-word;
				white-space: nowrap;

				> a {
					color: inherit;
					font-size: inherit;
				}
			}

			> ul {
				padding: 0;

				> li {
					color: $base-light-blue;
					font-weight: 200;

					> a {
						font-size: 14px;
					}

					&:not(:last-child) {
						
						&:after {
							content: " | ";
							margin-right: 5px;
						}
					}
				}
			}

			> .last-text {
				position: absolute;
				bottom: 0;
				font-weight: 300;
				font-size: 14px;
			}
		}

		> .text-info {
			height: 105px;
			width: 100%;
			display: inline-block;
			vertical-align: bottom;

			> .title-and-subtitle {
				width: 100%;
				height: inherit;
				padding: 30px 0 0 10px;
				background: image-url('gradiente_branco_2.png') center bottom repeat-x transparent;

				> .title {
					margin: 0;
					font-weight: 700;
					color: $base-gray;

					> a {
						font-size: inherit;
						font-weight: inherit;
						color: inherit;
					}
				}

				> .subtitle {
					font-weight: 300;
					color: $base-gray;
				}
			}
		}

		> .no-text {
			margin-left: 10px;
			font-weight: 300;
		}
	}
}

/* 
	User styles - Users list
*/

.user-list-container {
	height: 60px;
  margin-bottom: 30px;
  text-align: right;
  @include align-middle;

  > img, > div, > a {
  	display: inline-block;
  	vertical-align: middle;
  }

  h4 {
  	margin-top: 0;
  	text-align: left;

  	a {
  		color: inherit;
  		font-size: inherit;
  	}
  }

  ul {
  	padding: 0;

  	>li {
  		font-weight: 200;
  		color: $base-light-blue;

  		&:not(:last-child) {

    		&:after {
    			content: " | ";
    			margin: 0 5px;
    		}
  		}

  		> a {
  			font-size: 13px;
  			color: inherit;
  		}
  	}
  }

  > .user-thumb {
  	width: 60px;
  	margin-right: 10px;
  }
}

/* 
	User styles - Stats page 
*/

#stats-title-row {
	height: 150px;
	@include align-middle;

	#title {
		display: inline-block;
		vertical-align: middle;
		font-weight: 300;
	}
}

#stats-options {
    border: 0;
    box-shadow: -5px 10px 10px -12px rgba(0,0,0,.3), 0 10px 10px -10px rgba(0,0,0,.3);

	 > li {
	 	opacity: .3;
	 	text-align: left;
	 	@include fullyCustomTransition("opacity", ".2s", "ease-in-out", "0s");

	 	&.active, &:not(.disabled):hover {
			opacity: 1;
			border-bottom: 2px solid #068C9E;
	 	}

	 	> h2 {
	 		font-size: 1.375em;

	 		> a {
	 			color: black;
	 			font-size: inherit;
	 		}
	 	}
	 }
}

#no-texts-stats {
	font-weight: 300;
	text-align: center;

	> a {
		font-size: inherit;
		color: $base-medium-dark-blue;
		@include basicTransition(.2s);

		&:hover {
			color: $base-dark-blue
		}
	}
}

/*
  User styles - Facebook friends
*/

#facebook-invite {
  margin-top: 25px;
  margin-bottom: 25px;
}

#facebook-friends {
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
}

.facebook-container {
  
  h2, h3 {
    font-weight: 300;
  }
  
  .share-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .facebook-share {
    border: 1px solid $base-dark-blue;
    color: white;
    background-color: $base-medium-light-blue;
    display: block;
    @include basicTransition(.2s);
    
    &:hover {
      background-color: $base-dark-blue;
      border-color: $base-medium-dark-blue;
      color: white;
    }
  }
}

/* 
	### User styles - Edit page
*/

#error-explanation {
	width: 350px;
	margin: 0 auto 15px auto;
	background-color: $base-dark-red;
	border: 1px solid $base-dark-red;
	padding: 10px 20px;

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			color: white;
			font-weight: 300;
		}
	}
}

.link-account-icon {
	width: 230px;
	text-align: center;

	&:before {
		content: '';
		background-image: image-url('icons/reader_social_icons.svg');
		background-repeat: no-repeat;
		background-color: transparent;
		width: 40px;
		height: 36px;
		float: left;
		@include basicTransition(.2s);
	}

	&.is-instagram {

		&:before {
			background-position: center center;
			background-image: image-url('icons/instagram-black-icon.svg')
		}
		
		&:not([data-linked]) {
			background-color: $instagram-blue;
			border-color: $instagram-blue !important;

			&:before {
				background-image: image-url('icons/instagram-white-icon.svg');
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&[data-linked] {
		min-width: 100%;
		text-align: left;

		&:before {
			width: 50px;
			height: 50px;
		}

		> img {
			display: inline-block;
			vertical-align: top;
			width: 50px;
			height: 50px;
		}

		> .data-container {
			display: inline-block;
			margin-left: 5px;

			> h4, > a {
				display: block;
			}

			> h4 {
				margin-top: 0;
				margin-bottom: 5px;
			}

			> a {
				color: $base-light-gray;
				font-size: 14px;
			}
		}
	}

	&.is-twitter {

		&:not([data-linked]) {
			background-color: $twitter-blue;
			border-color: $twitter-blue !important;
			
			&:before {
				background-position: -155px -106px;
			}
		}

		&:before {
			background-position: -150px -0px;
		}
	}

	&.is-facebook {
		
		&:not([data-linked]) {
			background-color: $facebook-blue;
			border-color: $facebook-blue !important;
			
			&:before {
				background-position: -105px -106px;
			}
		}

		&:before {
			background-position: -100px -0px;
		}
	}

	> a {
		color: white;
		display: block;
		margin: 0;
		padding: 8px 40px;
	}
}