@import "variables_and_mixins";

.u-pullLeft {
  float: left;
}

.u-pullRight {
  float: right;
}

.u-blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-horizontalMenu {
  list-style: none;
  padding-left: 0;
}

.u-horizontalMenu > li {
  float: left;
}

.u-clearfix:before, .u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-centralized {
  text-align: center;
}

.u-slimTitle {
  font-weight: 300;
  margin: 0;
}

.u-lightFont {
  font-weight: 300;
}

.u-heavyFont {
  font-weight: 700;
}

.u-smallFont {
  font-size: 85%;
}

.u-hidden {
  display: none;
}

.u-sectionStrike {
  margin: 0 auto;
  border-width: 1px;
  border-color: rgba(0,0,0,.3);
  position: relative;
  top: 49px;
  z-index: 1;
}

.u-sectionStrike--thirdWidth {
  @extend .u-sectionStrike;
  width: 33%;
}

.u-sectionStrike--aboutAuthor {
  @extend .u-sectionStrike;
  top: 35px;
}

.u-isStriked {
  position: relative;
  z-index: 2;
}