/*
	### variables_and_mixins.css.scss
	### Variables
	### Mixins
*/

/*
	Variables
*/
$base-gray: #343838;
$base-medium-gray: #C4C7C7;
$base-dark-blue: #03606B;
$base-dark-red: #A83924;

$base-medium-red: #F44B34;
$base-medium-dark-blue: #068C9E;
$base-medium-light-blue: #0BB4CB;
$base-medium-light-gray: #ABA9AB;
$base-medium-light-red: #F97361;

$base-light-blue: #55C8E7;
$base-light-gray: #808285;
$base-light-red: #FC9F94;

$facebook-blue: #3B5998;
$twitter-blue: #55ACEE;
$instagram-blue: #517FA4;
$gplus-red: #CC3732;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$header-height: 60px;
$monster-font: 5.125em;

$sg-container-class: ".sg-container";
$sg-row: ".sg-row";
$sg-col: ".sg-col";
$sg-mb-col: ".sg-mb-col";
$sg-off: ".sg-offset";
$sg-col-numbers: 10;
$sg-container-width: 1000px;

$newContainer--width: 1020px;
$newContainer--smWidth: 765px;
$newContainer--xsWidth: 350px;

$newContainer--columns: 17;

$newContainer--columnSize: 60px;
$newContainer--gutterSize: ($newContainer--columnSize/2);
$newContainer--smColumnSize: 45px;
$newContainer--smGutterSize: ($newContainer--smColumnSize/2);
$newContainer--xsColumnSize: 20px;
$newContainer--xsGutterSize: ($newContainer--xsColumnSize/2);

/*
	Mixins
*/

@mixin newContainer() {
	margin-left: auto;
	margin-right: auto;
	padding: 0 $newContainer--gutterSize;
	max-width: $newContainer--width;

	@media (max-width: $screen-xs-max) {
		max-width: $newContainer--xsWidth;
		padding: 0 $newContainer--xsGutterSize;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		max-width: $newContainer--smWidth;
		padding: 0 $newContainer--smGutterSize;
	}
}

@mixin newColumn($number) {
	max-width: $newContainer--columnSize*$number;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		max-width: $newContainer--smColumnSize*$number;
	}
}

@mixin halfColumn($number) {
	max-width: ($newContainer--columnSize/2) + $newContainer--columnSize*$number;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		max-width: ($newContainer--smColumnSize/2) + $newContainer--smColumnSize*$number;
	}
}

@mixin columnHeight($number) {
	height: $newContainer--columnSize*$number;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		height: $newContainer--smColumnSize*$number;
	}
}

@mixin halfColumnHeight($number) {
	height: ($newContainer--columnSize/2) + $newContainer--columnSize*$number;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		height: ($newContainer--smColumnSize/2) + $newContainer--smColumnSize*$number;
	}
}


@mixin gutter($direction, $number) {
	padding-#{$direction}: $newContainer--gutterSize*$number;

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		padding-#{$direction}: $newContainer--smGutterSize*$number;
	}
}

@mixin mobileColumn($number) {
	max-width: $newContainer--xsColumnSize*$number
}

@mixin mobileHalfColumn($number) {
	max-width: ($newContainer--xsColumnSize/2) + $newContainer--xsColumnSize*$number
}

@mixin mobileColumnHeight($number) {
	height: $newContainer--xsColumnSize*$number
}

@mixin mobileHalfColumnHeight($number) {
	height: ($newContainer--xsColumnSize/2) + $newContainer--xsColumnSize*$number
}

@mixin mobileGutter($direction, $number) {
	padding-#{$direction}: $newContainer--xsGutterSize*$number;
}

@mixin container(){
	margin-left: auto;
	margin-right: auto;
	max-width: $sg-container-width;
	@include clearfix();
}

@mixin align-middle() {
	&:before {
	    content: '';
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
}

@mixin clearfix() {
	&:after, &:before {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin ribbon() {
    margin-top: 0px;
    margin-right: 5px;
    padding-bottom: 0px;
    border-left: 8px solid;
    border-right: 8px solid;
    border-bottom: 8px solid transparent;
    border-top: 0px;
    padding-top: 20px;
}

@mixin row(){
	width: 100%;
	@include clearfix;
}

@mixin col($i, $important: false) {
	@if $important { 
		width: $i*10% !important; 
	} @else {
		width: $i*10%;
	}
	@include clearfix;
}

@mixin offset($i) {
	margin-left: $i*5%;
	margin-right: $i*5%;
}

@mixin margin($dir, $i) {
	margin-#{$dir}: $i;
}

@mixin defineWidth($i) {
	width: 100%/$i;
}

@mixin basicTransition($time) {
	-webkit-transition: all $time linear;
	-moz-transition: all $time linear;
	transition: all $time linear;
}

@mixin fullyCustomTransition($property, $duration, $timing, $delay:0s) {
	-webkit-transition-property: #{$property};
	-moz-transition-property: #{$property};
	transition-property: #{$property};

	-webkit-transition-duration: #{$duration};
	-moz-transition-duration: #{$duration};
	transition-duration: #{$duration};

	-webkit-transition-timing-function: #{$timing};
	-moz-transition-timing-function: #{$timing};
	transition-timing-function: #{$timing};

	-webkit-transition-delay: #{$delay};
	-moz-transition-delay: #{$delay};
	transition-delay: #{$delay};
}

@mixin basicTransformY($val) {
	-webkit-transform: translateY($val);
	-moz-transform: translateY($val);
	transform: translateY($val);
}

@mixin basicTransformX($val) {
	-webkit-transform: translateX($val);
	-moz-transform: translateX($val);
	transform: translateX($val);
}

@mixin basicTransformScale($val) {
	-webkit-transform: scale($val);
	-moz-transform: scale($val);
	transform: scale($val);	
}

@mixin basicTransformRotate($val) {
	
}

@mixin uploadPhotoOverlay{
	background-color: $base-gray;
	opacity: 0;
	height: inherit;
	cursor: pointer;
	@include basicTransition(.2s);
	background-position: center center;

	&:hover{
		opacity: .6;
	}
}

@mixin placeholdify {
	cursor: text;
	
	&:not(h1):not(h2) {
		line-height: 1.5em !important;
	}

	&:before{
		content: attr(data-placeholder);
		color: rgba(0,0,0,.5);
	}
}

@mixin clearOutlines {

	&:focus, &:after {
		outline: none;
	}
}

@mixin centralizedMenu($childrenNumber, $minWidth) {
	
	@media (max-width: $screen-xs-max) {
		width: $minWidth;
		max-width: $minWidth+$minWidth*(1/3);
	}

	@media (min-width: $screen-sm-min) {
		width: #{$childrenNumber*$minWidth};
		max-width: #{$childrenNumber*($minWidth+$minWidth*(1/3))};
	}

	margin: 0 auto;
	padding: 0;
	display: block;
}