.link-account-icon.is-twitter{data: {linked: linked}}
  - if linked
    = image_tag @current_user.twitter_picture
    .data-container
      %h4= @current_user.twitter_user
      = link_to t(:remove), user_unlink_twitter_url(@current_user), remote: true, method: :put, class: 'unlink-account'
  - else
    = link_to 'Add twitter', "/auth/twitter", id: 'link-twitter'