.link-account-icon.is-facebook{data: {linked: linked}}
  - if linked
    = image_tag "https://graph.facebook.com/#{@current_user.facebook_uid}/picture"
    .data-container
      %h4= @current_user.facebook_name
      = link_to t(:remove), user_unlink_facebook_url(@current_user), remote: true, method: :put, class: 'unlink-account'
  -else
    = link_to 'Add facebook', '/auth/facebook', id: 'link-facebook'