.link-account-icon.is-instagram{data: {linked: linked}}
  - if linked
    = image_tag @current_user.instagram_picture
    .data-container
      %h4= @current_user.instagram_user
      = link_to t(:remove), user_unlink_instagram_url(@current_user), remote: true, method: :put, class: 'unlink-account'
  -else
    = link_to 'Add instagram', '/auth/instagram', id: 'link-instagram'