%section#categories-header
  .sg-container
    %ul#categories-list.nav.nav-tabs{role: "tablist"}
      - @categories.each_with_index do |cat, idx|
        %li.sg-col-3.text-center
          %a{categories_header_attrs(cat)}= t(cat.locale_key.to_sym)
  = render "users/user_header_nav"