= render "categories_header"
%section.scribeGrid--newContainer.categoriesSection
  .scribeGrid--row.section--header
    .scribeGrid--newColumn16
      %h2.u-slimTitle= "#{t(@category.locale_key.to_sym)}: #{title}"
  %div.categoriesContainer
    = render "application/text/blocks", texts: @texts, size: "full"
    = paginate @texts, params: {controller: "categories", action: action}