= render "categories_header"
%section.scribeGrid--newContainer.categoriesSection
  .scribeGrid--row.section--header
    .scribeGrid--newColumn6
      %h3.u-lightFont.js-currentCategory
    .scribeGrid--newColumn6
      %ul.languageSwitcher.u-horizontalMenu
        - Language.find_each do |lang|
          %li{class: ("active" if lang == @locale)}
            %a{href: category_with_locale_path(lang.id)}= lang.name
    .scribeGrid--newColumn4
      = form_tag search_url, method: :get, class: 'searchForm' do
        = text_field_tag :query, "#{@query}", placeholder: t(:search), class: 'searchForm--inputField'
  .tab-content
    - @categories.each_with_index do |cat, idx|
      .tab-pane.fade{id: cat.locale_key}
        .scribeGrid--row
          .scribeGrid--newColumn8.scribeGrid--gutterRight1.scribeGrid--newMobileColumn16.scribeGrid--mobile-noGutterRight
            %h1.categoriesSection--title.u-lightFont= t(:last_texts)
            = render "application/text/blocks", texts: cat.list_texts_by_type(ScribeConstants::LAST_TEXTS, @locale), has_gutter: false
            .see-more-container.text-center
              = link_to t(:load_more), category_last_texts_full_path(cat.locale_key, @locale.id), class: 'see-more'
          .scribeGrid--newColumn8.scribeGrid--gutterLeft1.scribeGrid--newMobileColumn16.scribeGrid--mobile-noGutterLeft
            %h1.categoriesSection--title.u-lightFont= t(:most_viewed)
            = render "application/text/blocks", texts: cat.list_texts_by_type(ScribeConstants::MOST_VIEWED, @locale), has_gutter: false
            .see-more-container.text-center
              = link_to t(:load_more), category_most_viewed_full_path(cat.locale_key, @locale.id), class: 'see-more'
        .scribeGrid--row
          .scribeGrid--newColumn16
            %h1.categoriesSection--title.u-lightFont= t(:most_recommended_week)
        = render "application/text/blocks", texts: cat.list_texts_by_type(ScribeConstants::TOP_TEN, @locale, 1, 10), size: "full"