body.cke_editable {
  word-wrap: break-word;
  margin: 0;
  font-family: 'Libre Baskerville', serif !important;

  * {
    box-sizing: border-box !important;
  }

  p, b, i, a, strong, em, &.placeholder {
    font-size: 1.125em;
    line-height: 2em;
    text-align: justify;

    p, b, i, a, strong, em {
      font-size: inherit !important;
    }
  }

  .steve-scriber-thumb {
    background: image-url('missing_photo.svg') center center no-repeat transparent;
    background-size: cover;
    width: 60px;
    height: 60px;
  }

  div {

    &.contains-image {
      padding: 3.750em 0;

      > figure {
        margin: 0;

        > .image-container {
          overflow: hidden;
          
          &.focused-figure {            
            border: 3px solid #0BB4CB;

            > img {
              outline: none;
            }
          }
        }

        &.is-full-show {
          padding: 1.250em 0.313em;

          > .image-container {
            margin: 0 auto;
            max-width: 50em;

            > img {
              width: 100%;
            }
          }

          > figcaption {
            font-size: 0.875em;
            color: #353838;
            font-style: italic;
            text-align: center;
            outline: none;

            &:not(:empty), &.placeholdify {
              padding-top: 1.875em;
            }

            .text-element {
              font-size: inherit;
            }

            &.placeholdify {

              &:before{
                content: attr(data-placeholder);
                color: rgba(0,0,0,.5);
              }
            }
          }
        }
      }
    }
  }
}

body.cke_editable:not(.placeholder) {
  color: #353838;
}

body.cke_editable blockquote,
body.cke_editable blockquote * {
  font-size: 1.875em;
  font-style: italic;
  text-align: center;
  border-left: 0;
  padding: 0;
  margin: 1.875em 0;
  color: #353838;
}

body.cke_editable blockquote p,
body.cke_editable blockquote a,
body.cke_editable blockquote b,
body.cke_editable blockquote i,
body.cke_editable blockquote strong,
body.cke_editable blockquote em {
  font-size: inherit;
}

body.cke_editable a {
  color: black;
  text-decoration: underline;
}

.cke_top, .cke_bottom, #cke_ck_editor_ta, .cke_toolgroup {
  border: 0 !important;
  box-shadow: none !important;
}

.cke_top {
  padding: 0 !important;
}

.cke_toolbox, .cke_toolbar, .cke_toolgroup {
  width: 100% !important;
}

.cke_toolgroup {
  margin: 0 !important;
}

.cke_button__save, .cke_button__deletetext, .cke_button__publisher {
  float: right !important;
}

#cke_wordcount_ck_editor_ta {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  background-color: white;
  z-index: 99999999999;
  color: rgba(0,0,0,.35);

  > span {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    font-size: 14px !important;
  }
}

.cke_button {
  cursor: pointer !important;
  height: 0 !important;
  padding: 30px !important;
  -webkit-transition: all .2s ease-in-out !important;
  -moz-transition: all .2s ease-in-out !important;
  transition: all .2s ease-in-out !important;

  &:hover {
    border: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
    background-color: transparent !important;
    -webkit-transform: scale3d(1.3,1.3,1);
    -moz-transform: scale3d(1.3,1.3,1);
    transform: scale3d(1.3,1.3,1);

    > .cke_button_label {
      background: transparent !important;
      background-color: transparent !important;
    }
  }

  > .cke_button_icon {
    display: none !important;
  }

  &.cke_button_disabled {
    opacity: .3;
  }

  &.cke_button__save, &.cke_button__deletetext, &.cke_button__publisher {
    padding: 20px !important;

    > .cke_button_label {
      display: block !important;
    }
  }

  &.cke_button__bold {
    background: image-url('icons/ico-bold.svg') center center no-repeat transparent !important;
  }

  &.cke_button__italic {
    background: image-url('icons/ico-italic.svg') center center no-repeat transparent !important;
  }

  &.cke_button__blockquote{
    background: image-url('icons/ico-quote.svg') center center no-repeat transparent !important;
  }

  &.cke_button__addlink {
    background: image-url('icons/ico-link.svg') center center no-repeat transparent !important;
  }

  &.cke_button__addimage {
    background: image-url('icons/ico-picture2.svg') center center no-repeat transparent !important;
    position: relative;

    form, #file {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      padding: 30px;
    }
  }

  > .cke_button_label {
    font-size: 14px !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    cursor: pointer;
  }
}

.link-container {
  position: absolute !important;
  top: 60px !important;
  width: 200px !important;
  margin-left: 40px !important;
  padding: 10px !important;
  border: 1px solid rgba(0,0,0,.15) !important;
  background-color: white !important;

  &:after, &:before {
    bottom: 100% !important;
    left: 50% !important;
    border: solid transparent !important;
    content: " " !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    pointer-events: none !important;
  }

  &:after {
    border-bottom-color: white !important;
    border-width: 8px !important;
    margin-left: -8px !important;
  }

  &:before {
    border-color: transparent !important;
    border-bottom-color: rgba(0,0,0,.15) !important;
    border-width: 10px !important;
    margin-left: -10px !important;
  }

  &:not(.opened) {
    display: none !important;
  }

  input {
    border: 0 !important;
    border-bottom: 1px solid black !important;
    width: 100% !important;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 2px;

    &:focus {
      outline: none !important;
    }
  }
}