.textFooter--authorDetails
  %hr.u-sectionStrike--aboutAuthor.u--mobile-xsHidden
  .userInfo.u-clearfix.u-isStriked
    %em.userInfo--writtenBy= t(:written_by)
    .userInfo--dateSection
      %h2.date--day= text.published_at.blank? ? text.updated_at.strftime('%d') : text.published_at.strftime('%d')
      %h6.date--month= text.published_at.blank? ? I18n.l(text.updated_at, format: :short_month).upcase : I18n.l(text.published_at, format: :short_month).upcase
      %h6.date--year= text.published_at.blank? ? text.updated_at.strftime('%Y') : text.published_at.strftime('%Y')
    .userInfo--pictureSection
      %img.userInfo--profileThumb{src: text.user.profile_photo.url(:thumbs), alt: text.user.name}
    .userInfo--descriptionSection
      = link_to text.user.name, user_show_url(text.user), class: 'userInfo--userName', title: text.user.name
      = link_to "#{t("activerecord.attributes.user.texts", count: text.user.published_texts.count)}", user_show_url(text.user), class: 'userInfo--textsCount'
    .userInfo--socialSection
      = follow_unfollow_button(text.user)