.textFooter--bookshelfBoard
  %hr.u-sectionStrike--thirdWidth.u--mobile-xsHidden
  %ul#bookshelf-board.u-horizontalMenu.u-clearfix.u-isStriked
    %li#recommendation.socialBtn.socialBtn--recommend.readerIcons{class: (' isRecommended' if @current_user && @current_user.recommended?(@text))}
      %span.recommendation--count.js-recommendation-count= @text.recommendations_count
      = link_to t(:recommend, count: @current_user ? (@current_user.recommended?(@text) ? 1 : 0) : 0), recommend_url , remote: true, method: :post, class: ["js-recommend", ("sup-trigger" if @current_user.blank?)], data: {cout_title: t(:rec_now_title), cout_content: t(:rec_now_content)}