= s3_uploader_form callback_url: callback, class: 's3_uploader_text', callback_param: "text[#{param}]", id: id, expiration: 24.hours.from_now.utc.iso8601, max_file_size: 50.megabytes do
  = file_field_tag :file, accept: 'image/png,image/gif,image/jpeg'