%ul.text-actions
  %li.picture-icon
    = render 'direct_upload', callback: text_insert_cover_url(@text), param: 'text_cover', id: 'text_image'
  %li.category{data: {toggle: "expand-container"}}
    %span.description{data: {default: t(:categories)}}
      = @text.category ? t(@text.category.locale_key.to_sym)[0,3].upcase : t(:categories)
    %ul#text-category.horizontal-list.extensible-container{role: "menu", data: {empty: t(:empty_category)}}
      - Category.find_each do |cat|
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", data: {value: cat.id, selected: (true if cat.eql?(@text.category) )}}= t(cat.locale_key.to_sym)
    %span.close-btn= "X"
  %li.language{data: {toggle: "expand-container"}}
    %span.description
      = @text.language ? @text.language.name[0,3].upcase : t(:language)
    %ul#text-language.horizontal-list.extensible-container{role: "menu", data: {empty: t(:empty_language)}}
      - Language.find_each do |lang|
        %li{role: "presentation"}
          %a{href: "#", role: "menuitem", data: {value: lang.id, selected: (true if lang.eql?(@text.language))}}= lang.name
    %span.close-btn= "X"
  %li.tags
    %span#left.glyphicon.glyphicon-chevron-left{data: {target: 0}}
    %span#right.glyphicon.glyphicon-chevron-right{data: {target: 0}}
    = form_for :tag, url: url_for(create_tag_path(@text)) , html: {id: "tags-form", class: 'tags-form', data: { :"unique-tag" => t(:tags_num_reached), empty: t(:empty_tag) } }, remote: true,method: "POST" do |f|
      .tags-container
        %span#tags
          - unless @text.tags.blank?
            - @text.tags.each do |tag|
              %span.tag
                %span= tag.name
                %span.delete-tag{data: {confirm: t(:exclusion_confirm), delete: {url: delete_tag_url(@text,tag)}}}= 'x'
        = f.text_field :name, value: '' ,class: "tags-input form-control",id: 'tag-name', placeholder: t(:tag)