= render "scribe_modal", modal_title: "Oops!", modal_subtitle: t(:not_ready_to_publish), modal_btn_classes: "btn btn-scribe full-width-btn btn-scribe-lb"
%section#text-editor-container
  %article#new-text 
    %section#text-header.editor{class: (@text.cover.blank? ? " no-cover" : " has-cover"), style: text_style(@text, true), data: {gradient: image_url('gradiente_branco_reverse.png')}}
      .gradient-overlay{style: "background: url(#{image_url('gradiente_branco_reverse.png')}) center center repeat-x transparent; background-size: contain"}
      %figure#cover-photo
        = image_tag @text.cover.nil? ? '' : @text.cover.photo.url
      .sg-container.textContainer
        .sg-row.text-header-content
          .sidebar-area
            = render 'form_header_sidebar', text: @text
          .main-area
            %h1#title.placeholdify.editable.sg-col-10{tabindex: 1,contenteditable: true, data: {placeholder: t(:title), empty: t(:empty_title)}}= @text.title
            %h2#subtitle.placeholdify.editable.sg-col-10{tabindex: 2,contenteditable: true, data: {placeholder: t(:sub_title)}}= @text.subtitle
            #new-text-pic-req.panel.panel--info= t(:upload_picture_text_requirements_html)
            #upload-error.panel.panel--error= t(:upload_error)
    %section#text-body.textContainer
      %input#text-messages{type: "hidden", data: {placeholder: t(:new_text), caption: t(:optional_caption), update_success: t(:updated_text), update_error: t(:update_error), empty_tag: t(:empty_tag), unique_tag: t(:tags_num_reached), delete_image: t(:confirm_delete_image), processing_image: t(:processing_image)}}/
      = form_for @text, html: {id: "new-text-form"} do |form|
        = cktext_area :text, :description, class: 'ckeditor', id: "ck_editor_ta", tabindex: 3, placeholder: t(:new_text), ckeditor: {language: I18n.locale}, data: {delete_text: t(:confirm_delete_text), publish_url: text_publish_url(@text), empty_language: t(:empty_language), empty_category: t(:empty_category), empty_title: t(:empty_title), empty_description: t(:empty_description), delete_image: text_delete_image_url(@text), text_id: @text.slug, has_image: @text.text_images.where(is_cover: false).length > 0, draft_mode: @text.is_draft}
= render 'direct_upload', callback: text_insert_image_url(@text), param: 'text_image', id: 'insert_image'