%section.textHeader{class: (@text.cover.blank? ? " noCover" : " hasCover"), style: text_style(@text)}
  .textContainer.scribeGrid--row
    = sanitized_content_for(:h1,:title,@text.title)
    = sanitized_content_for(:h2,:sub_title,@text.subtitle)
    %small.visible-xs-block.scribeGrid--column10.textHeader--mobile-aboutAuthor= "#{t(:written_by)} #{@text.user.name}"
  #header-cover.text-cover