%section.textContainer.textFooter
  = render "bookshelf_board", recommended: (@current_user && @current_user.recommended?(@text)) ,recommend_url: (@current_user ? recommend_user_url(@current_user, @text) : '#') unless @text.is_draft
  = render "texts/text_share_board", text: @text unless @text.is_draft
  = render "about_author", text: @text