.textFooter--shareBoard
  %h3.u-slimTitle.u-centralized= t(:share_on)
  %ul#share-board.u-horizontalMenu.clearfix
    %li.socialBtn.socialBtn--facebook.readerIcons
      %a{href: "#", class: 'facebook-share', data: {href: text_url(text)}}= "Facebook"
    %li.socialBtn.socialBtn--twitter.readerIcons
      %a{href: "#", class: 'js-twitterShare', data: {text: "'#{URI.escape(text.title)} - #{t(:by)} #{text.user.twitter_user ? '@'<<text.user.twitter_user : text.user.name}'", via: "wescribeapp", shortener: shortener_url(text.id)}}= "Twitter"
    %li.socialBtn.socialBtn--gPlus.readerIcons
      %a{href: "#", class: 'js-gPlusShare', data: {url: text_url(text)}}= "Google +"