%ul.textSidebar.isInsideText.hidden-xs
  %li.textSidebar--userThumb{style: "background: url(#{@text.user.profile_photo.url(:thumbs)}) center center no-repeat transparent; background-size: cover;"}
    = link_to "", user_show_path(@text.user), data: {toggle: "tooltip", placement: "right", title: @text.user.name}
  %li.textSidebar--datesContainer.u-centralized
    %h2.date--day= @text.published_at.blank? ? @text.updated_at.strftime('%d') : @text.published_at.strftime('%d')
    %h4.date--month= @text.published_at.blank? ? I18n.l(@text.updated_at, format: :short_month).upcase : I18n.l(@text.published_at, format: :short_month).upcase
    %h5.date--year= @text.published_at.blank? ? @text.updated_at.strftime('%Y') : @text.published_at.strftime('%Y')
  - unless @text.category.blank?
    %li.textSidebar--category.u-centralized{data: {toggle: "tooltip", placement: "right", title: t(@text.category.locale_key.to_sym)}}
      %span.u-lightFont= t(@text.category.locale_key.to_sym)[0,3].capitalize<<'.'
  - unless @text.language.blank?
    %li.textSidebar--language.u-centralized{data: {toggle: "tooltip", placement: "right", title: @text.language.name}}
      %span.u-lightFont= @text.language.name[0,3].capitalize<<'.'
  %li.textSidebar--tags.js-expandContainer
    - unless @text.tags.blank?
      %ul.extensibleContainer.u-horizontalMenu.u-clearfix
        - @text.tags.each do |tag|
          %li.tag.light-tag= tag.name
  %li.textSidebar--share
    %a{href: '#share-board'}
  - if @current_user && @text.user == @current_user
    %li.icon--edit 
      = link_to '', edit_text_path(@text)
    %li.icon--delete 
      = link_to '', @text, method: :delete, data: {confirm: t(:exclusion_confirm)}