%section#text-container
  %article.text
    = render "text_header"
    %section#text-body.textContainer
      #text{data: {commentline: {load: text_commentline_url(@text), post: text_post_comment_url(@text), delete: text_delete_comment_url(@text)}}}
        = @text.description.html_safe
      = render "text_sidebar"
    = render "text_footer"
    - unless @text.is_draft
      %section.suggestionsSection.scribeGrid--row
        .scribeGrid--newContainer
          %h1.suggestionsSection--title.u-lightFont= t(:text_suggestions)
          = render "application/text/blocks", texts: @suggestions, size: "half" unless @text.is_draft
= hidden_field_tag 'my_text', @text.id
= render "register_modal" unless @current_user