%footer.scribeFooter--divider.u--mobile-xsHidden
  .scribeFooter--container.scribeGrid--newContainer
    .scribeGrid--row
      .scribeGrid--newColumn8
        %h4.scribeFooter--about.u-lightFont
          %a{href: t(:learn_more_link)}= t(:about)
        .scribeFooter--copyrightContainer
          %span.dark-blue.ribbon.u-pullLeft
          %span.scribeFooter--copyright.u-pullLeft.u-lightFont= t(:copyright)
      .scribeGrid--newColumn8
        %ul.scribeFooter--socialLinks.u-pullRight
          %li
            %h4.scribeFooter--socialTitle.u-lightFont= "Social"
          %li.scribeFooter--socialLink.instagram
            = link_to '@stevescriber', 'https://instagram.com/stevescriber', target: '_blank'
          %li.scribeFooter--socialLink.twitter
            = link_to '@wescribeapp', 'https://twitter.com/wescribeapp', target: '_blank'
          %li.scribeFooter--socialLink.facebook
            = link_to 'wescribeapp', 'https://facebook.com/wescribeapp', target: '_blank'