%nav.scribeNavbar.lightColored.fixedTop{role: "navigation"}
  .scribeNavbar--header.u-clearfix
    %button.u-pullRight.scribeNavbar--mobileToggle.js-toggleOffcanvas
      %span.sr-only= "Toggle navigation"
      %span.icon-bar 
      %span.icon-bar 
      %span.icon-bar 
    = link_to( @current_user ? timeline_url : root_path, class: 'u-pullLeft scribeNavbar--logoLink') do
      =image_tag 'logo_scribe.png'
  .u--mobile-xsHidden.u--mobile-smHidden.u-clearfix
    = render "menu"
= render "mobile_menu"