%ul.u-horizontalMenu.u-pullRight.scribeNavbar--menu
  = render "application/navbar_menu/language_options"
  = render "application/navbar_menu/unlogged_user_options" unless @current_user && (!controller_name.eql?("text") && !action_name.eql?("show"))
  = render "application/navbar_menu/logged_options" if @current_user