#scribe-navbar-mobile.visible-xs-block.visible-sm-block.scribeNavbar--mobileHeader
  .scribeNavbar--mobileClose.u-clearfix
    %span.steve-scriber-thumb.u-pullLeft
    %h2.u-lightFont.u-pullLeft= "Scribe"
    %h1.u-pullRight.u-lightFont.js-toggleOffcanvas= "X"
  %ul.scribeNavbar--offcanvas
    = render "application/navbar_menu/language_options"
    = render "application/navbar_menu/unlogged_user_options" unless @current_user && (!controller_name.eql?("text") && !action_name.eql?("show"))
    = render "application/navbar_menu/logged_mobile_options" if @current_user