.scribeModal.registrationModal.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .scribeModal--dialog
    .scribeModal--content.lightColored
      .text-center.scribeModal--header
        = image_tag 'missing_photo.svg', class: 'scribeModal--header-topIcon'
        %button.scribeModal--close.darkColored{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2= t(:registration_modal_title)
      .scribeModal--body.text-center
        .scribeGrid--row.u-lightFont= t(:registration_modal_content)
        .scribeGrid--row.registrationModal--options
          .scribeGrid--column5.scribeGrid--offset5.scribeGrid--mobileColumn10.scribeGrid--mobileNoOffset
            .socialBtn.socialBtn--facebook.readerIcons
              = link_to t(:signup_fb), '/auth/facebook'
          .scribeGrid--column5.scribeGrid--offset5.scribeGrid--mobileColumn10.scribeGrid--mobileNoOffset
            .socialBtn.socialBtn--twitter.readerIcons
              = link_to t(:signup_twitter), '/auth/twitter'
        .scribeGrid--row.u-lightFont.u-smallFont= t(:registration_agreement_html)
:javascript
  var visitedTexts = Number(window.localStorage.getItem('visited-texts')) || 0;
  window.localStorage.setItem('visited-texts', ++visitedTexts);