#scribe-modal.modal.fade{role: "dialog", aria: {labelledby: "modal-title", hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        = image_tag 'icons/error-icon.svg', id: "error-icon"
        %button.close{type: "button", data: {dismiss: "modal"}}
          %span{aria: {hidden: true}}= "X"
          %span.sr-only= "Close"
        %h2= modal_title
        %h4= modal_subtitle
      .modal-body
      .modal-footer
        %button{class: modal_btn_classes, data: {dismiss: "modal"}}= "Ok"