= render "users/common/user_header", style: "timeline" if @current_user
= render "application/header/unlogged_user", style: "timeline" unless @current_user
%section.scribeGrid--newContainer
  .scribeGrid--row{class: "section--header"}
    .scribeGrid--newColumn16
      %h2.u-slimTitle= t("#{@type.to_sym}")
  %div{class: "#{@type}Container"}
    = render "application/text/blocks", texts: @texts
    = paginate @texts, params: {controller: "application", action: "discover"} unless @texts.blank?