= render "users/profile/header"
= render "users/existing_contacts", users: contacts unless @on_scribe.blank?
%section#mail-contacts-list.sg-container{style: ("display: none;" unless @on_scribe.blank?)}
  .section-header.sg-row
    %h3= t(:invite_all_contacts)
  .actions-row.sg-row
    %button#select-all.pull-left.btn.btn-scribe.btn-scribe-mdb= t(:select_all)
    %button#invite-all.pull-left.btn.btn-scribe.btn-scribe-mdb= t(:invite)
  = form_tag invite_all_contacts_url, method: :post, id: 'mail-contacts-form', class: 'sg-container' do
    %ul#results
      - @contacts.each do |c|
        - unless c[:email].blank?
          %li
            %label.sg-row
              = check_box_tag 'email[]', c[:email], true
              %span.steve-scriber-thumb.pull-left
              .contact-info
                %span
                  = c[:name]
                %span
                  = c[:email]