%section.fourOhFour--background.scribeGrid--columnHeight10
  .fourOhFour--messageContainer.scribeGrid--newContainer.scribeGrid--newColumn10.scribeGrid--gutterTop6.u-centralized.u-blockCenter
    %h1.u-lightFont= "Oops!"
    %h3.u-lightFont.fourOhFour--message= t(:four_oh_four_description_html)
    = form_tag search_url, method: :get do
      = text_field_tag :query, "#{@query}", placeholder: t(:search), class: 'search-field'
%section.fourOhFour--suggestions.scribeGrid--newContainer
  %h1.u-lightFont= t(:suggestions)
  .scribeGrid--gutterTop1
    = render "application/text/blocks", texts: @text_suggestions