%section.landingPage--highlightedPost
  .highlightedCover.isBlended.scribeGrid--row.scribeGrid--8-halfColumnHeight{style: "background: url(#{@highlight.cover.blank? ? asset_path('covers/categories/text_default_'<<(@highlight.category_id.to_s)<<'.jpg') : @highlight.cover.photo.url}) no-repeat center center transparent; background-size: cover;"}
  .landingPage--coverBlend.scribeGrid--8-halfColumnHeight
    .scribeGrid--newContainer.u-centralized
      .landingPage--aboutScribe.scribeGrid--newColumn12.scribeGrid--4-halfColumnHeight.scribeGrid--gutterBoth1.gutterHorizontal.gutterVertical
        %img{src: asset_path("scribe_love.svg"), alt: "Scribe"}
        %h2.u-lightFont= t(:social_cta_html)
        %span.dark-blue.ribbon
        = link_to t(:signup), '#', class: 'landingPage--signup js-toggleModal', data: {modal: '.scribeModal.signupModal'}
      %ul.landingPage--signupMenu
        %li.socialBtn.socialBtn--facebook.readerIcons
          %a{href: "auth/facebook"}= t(:signup_fb)
        %li.socialBtn.socialBtn--twitter.readerIcons
          %a{href: "auth/twitter"}= t(:signup_twitter)
  .scribeGrid--newContainer.u-clearfix
    = render "application/text/highlighted_text_block", text: @highlight
%section.landingPage--otherPosts
  .scribeGrid--newContainer
    .scribeGrid--row.u-centralized
      %ul.u-horizontalMenu.u-clearfix.categoriesMenu
        - @categories.each do |category|
          %li.categoriesMenu--category.js-switchCategory{data: {load_from: load_from_url(category), texts_qt: 4}}= t(category.locale_key.to_sym)
    %img{src: asset_path("icons/ajax_preloader_icon.gif"), alt: "Preloader", class: 'landingPage--ajaxLoader'}