= render "users/common/user_header", style: "timeline" if @current_user
= render "application/header/unlogged_user" unless @current_user
%section.scribeGrid--newContainer.searchSection
  .section--header.scribeGrid--row
    .scribeGrid--newColumn9
      %h2.u-slimTitle= t(:search)
    .scribeGrid--newColumn7.u--mobile-xsHidden
      = form_tag search_url, method: :get, class: 'searchForm' do
        = text_field_tag :query, "#{@query}", placeholder: t(:search), class: 'searchForm--inputField'
  .searchSection--result.scribeGrid--row
    .searchSection--texts.scribeGrid--newColumn8.scribeGrid--gutterRight1
      %h2.searchSection--resultTitle.u-lightFont= t(:texts)
      %h3.u-slimTitle= t(:empty_search) if @text_results.blank?
      = render "application/text/blocks", texts: @text_results, has_gutter: false
      .load-more-container.text-center.textResults{data: {container: '.textResults'}}
        = link_to_next_page @text_results, t(:load_more), param_name: 'texts_page', params: params, remote: true, class: 'load-more', data: {page: @texts_page.to_i+1, container: '.searchSection--texts > .scribeGrid--row > .textBlock--container'}
    .searchSection--users.scribeGrid--newColumn8.scribeGrid--gutterLeft1
      %h2.searchSection--resultTitle.u-lightFont= t(:writers)
      %h3.u-slimTitle= t(:empty_search) if @user_results.blank?
      = render "users/user_list", users: @user_results
      .load-more-container.text-center.userResults{data: {container: '.userResults'}}
        = link_to_next_page @user_results, t(:load_more), param_name: 'users_page', params: params, remote: true, class: 'load-more', data: {page: @users_page.to_i+1, container: '.searchSection--users > .sg-row'}