%tr
  %td{colspan: "2", width: "600", align: "center", valign: "top"}
    %span{style: "text-align: center;"}
      %strong{style: "font-size: 1.52em;"}= t(:reset_pass_desc, name: @user.name)
%tr
  %td{colspan: "2", width: "600", align: "center", valign: "top"}
    %span{style: "text-align: center;"}
      = link_to reset_password_edit_url(password_reset_token: @user.password_reset_token), reset_password_edit_url(password_reset_token: @user.password_reset_token)