@import "variables_and_mixins";

.section--header {
  height: 9.375em;
  line-height: 7.500em;
  padding: 0.938em 0;
}

.section--header > [class^="scribeGrid--newColumn"] {
  height: 7.500em;
  line-height: inherit;
  width: 100%;
}

.section--header > [class^="scribeGrid--newColumn"] > * {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.searchSection--result > .scribeGrid--newColumn8 {
  width: 100%;
}

.searchSection--result .searchSection--resultTitle {
  margin: 35px 0;
}

.categoriesSection--title {
  margin: 1em 0;
}

.suggestionsSection {
  border-top: 1px solid rgba(0,0,0,.3);
  padding-bottom: 80px;
}

.suggestionsSection--title {
  margin: 30px 0;
}

@media (max-width: $screen-xs-max) {

  .section--header {
    height: 5em;
    line-height: 1;
  }

  .section--header > [class^="scribeGrid--newColumn"] {
    height: inherit;
    line-height: inherit;
  }
}