@import "variables_and_mixins";

.userDetails--userName {
  color: $base-medium-dark-blue;
  font-weight: 300;
  margin-top: 0;
  padding-top: 20px;
}

.userDetails--userName > .ribbon {
  margin-top: 7px;
  border-left: 6px solid;
  border-right: 6px solid;
  border-bottom: 6px solid transparent;
  padding-top: 18px;
}

.userDetails--stats > li {
  color: $base-light-blue;
  font-weight: 300;
}

.userDetails--stats > li:not(:last-child):after {
  content: " | ";
  margin: 0 5px;
}

.userDetails--bio,
.userDetails--email {
  color: $base-gray;
  font-weight: 300;
  margin: 10px 0;
}

.userDetails--bio {
  cursor: pointer;
  background-color: transparent;
  height: auto;
  word-wrap: break-word;
  @include basicTransition(.2s);
}

.userDetails--bio.isExpanded {
  background-color: white;
  padding: 5px 0;
  height: 200px;
  z-index: 1;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.05), 5px 10px 20px rgba(0, 0, 0, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  @include basicTransformY(-70px);
}

.userDetails--socialLinks > a:not(:last-child){
  margin-right: 20px;
}

@media (max-width: $screen-xs-max) {

  .userDetails--stats,
  .userDetails--userName {
    position: absolute;
    left: 120px;
  }

  .userDetails--userName {
    font-size: 1.8em;
    margin: 5px 0 0 0;
    top: 95px;
    padding: 0;
  }

  .userDetails--stats {
    top: 120px;
  }
}