@import "variables_and_mixins";

.userHeader--details,
.userHeader > .scribeGrid--newContainer,
.userHeader--aboutScribe {
  position: relative;
}

.userHeader--details a {
  color: $base-light-blue;
  font-weight: 300;
  @include fullyCustomTransition("color", "0.2s", "ease-in-out", "0s");
}

.userHeader--details a:hover {
  color: $base-medium-dark-blue;
}

.userHeader--details > a,
.userHeader--details > p {
  display: block;
  margin: 10px 0;
}

.userHeader--details > p {
  color: $base-gray;
}

.userHeader--details > .icon--edit {
  width: 35px;
  height: 35px;
  margin: 20px 10px;
}

.userHeader--details.bioExpanded > .userDetails--email,
.userHeader--details.bioExpanded > .userDetails--website,
.userHeader--details.bioExpanded > .userDetails--socialLinks {
  opacity: 0;
}

.userHeader--cover,
.userHeader--signup {
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50%;
}

.userHeader--cover {
  box-shadow: -200px -5px 150px -75px rgba(0,0,0,.2);
}

.userHeader--photo {
  width: 9.375em;
  border: 2px solid white;
  display: block;
  position: absolute;
  right: -4.6875em;
  top: 50%;
  margin-top: -4.6875em;
  z-index: 2;
}

.userHeader--cover > .ribbon {
  position: absolute; 
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -8px;
  z-index: 1;
}

.userHeader--signup > h3,
.userHeader--aboutScribe > h1 {
  margin: 10px 0;
}

.userHeader--signup > h3 {
  padding: 0 120px;
}

.userHeader--signupMenu {
  padding: 10px 0;
  list-style: none;
}

.userHeader--signupMenu > li {
  margin: 12px auto;
}

@media (min-width: $screen-sm-min) {
  .userHeader {
    position: relative;
  }


  .userHeader.isProfile,
  .userHeader.isUnlogged {
    height: 340px;
  }

  .userHeader.isProfile .userHeader--details,
  .userHeader.isProfile > .scribeGrid--newContainer,
  .userHeader.isProfile .userHeader--aboutScribe {
    height: 340px;
  }

  .userHeader.isTimeline {
    height: 260px;
  }

  .userHeader.isTimeline .userHeader--details,
  .userHeader.isTimeline > .scribeGrid--newContainer,
  .userHeader.isTimeline .userHeader--aboutScribe {
    height: 200px;
  }
}

@media (max-width: $screen-xs-max) {
  .userHeader {
    height: 150px;
  }

  .userHeader.isUnlogged {
    height: auto;
    min-height: 150px;
  }

  .userHeader--aboutScribe {
    text-align: center;
  }

  .userHeader--aboutScribe > .userHeader--signupMenu {
    text-align: left;
  }

  .userHeader > .scribeGrid--newContainer {
    padding: 0;
  }

  .userHeader--photo {
    left: 15px;
    top: 100px; 
  }

  .userHeader--cover,
  .userHeader--details {
    width: 100%;
  }
}