!!!5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"}
    
    %meta{name: "google-site-verification", content:"Dj5gHTUN0ITmiVTT94FPf_9CfIZtKDCcXCTBybNeI4E"}
    %meta{name:"keywords", content: "writer, social, network, write, social platform, read, escrever, ler, escritores, poems, poetry, articles, poemas, poesias, artigos, textos, posts"}
    %meta{name: "author" , content: "Scribe"}
    %meta{name: "copyright" , content: "Scribe 2014 - All rigths reserved ®"}
    %meta{name: "application-name" , content: "Scribe App"}
    %meta{name: "p:domain_verify", content: "b5911bcec7b753413a47ba13fcbb135d"}
    
    = display_meta_tags(default_meta)
    = display_meta_tags(facebook_meta)
    = display_meta_tags(twitter_meta)
    
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic"
    = stylesheet_link_tag "application"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "#{Rails.application.config.facebook_app_id}",
          xfbml      : true,
          version    : 'v2.0',
          oauth      : true,
          cookie     : true,
          status     : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

       !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    
    -if @render_header
      = render 'header'
    #scribe-application-container{class: container_classes}
      - flash.each do |type, msg|
        %p{class: "bg-#{type} flash"}= msg.html_safe
      - unless @current_user
        = render "application/modal/login_modal"
        = render "application/modal/reset_password"
        = render "application/modal/registration_modal"
        = render "application/modal/complete_registration_modal", user: User.where(:"#{session[:provider]}_uid" => session[:social_uid]).first unless session[:provider].nil? && session[:social_uid].nil?
      = yield
    - if @render_footer
      = render 'footer'

  -if Rails.env.eql?("production")
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50782919-1', 'wescribe.co');
      ga('send', 'pageview');
  
      var _paq = _paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.wescribe.co"]);
      _paq.push(["setDomains", ["*.wescribe.co"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.wescribe.co/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 22]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    %noscript 
      %p
        %img{src: "https://piwik.wescribe.co/piwik/piwik.php?idsite=22&rec=1", style: "border: 0;"}