.scribeGrid--row{class: container_class ||= ''}
  - texts.each_with_index do |text, idx|
    = render "application/text/text_block", text: text, idx: idx, has_gutter: (local_assigns[:has_gutter].nil? ? true : has_gutter), size: (local_assigns[:size].nil? ? "half" : size)