.textBlock--container.isHighlighted.scribeGrid--3-halfColumnHeight
  .textBlock--actionsContainer.scribeGrid--row
    %ul.u-pullRight.textBlock--actions
      %li.textBlock--action.isRecommendations.u-pullLeft
        = link_to(text, class: "textBlock--textLink") do
          %img{src: asset_path("icons/not_recommended_icon.png"), alt: t(:recommendations)}
          %h4.textBlock--recommendationsCount.u-lightFont.u-pullLeft= text.recommendations_count
      %li.textBlock--action.js-slideDownContainer.u-pullRight{data: {container: "tagsInfo"}}
        %img{src: asset_path("icons/small_tag_icon.svg"), alt: "Tags"}
      %li.textBlock--action.js-slideDownContainer.u-pullRight{data: {container: "shareMenu"}}
        %img{src: asset_path("icons/small_share_icon.svg"), alt: t(:share)}
  .textBlock--textInfo
    .scribeGrid--row.textBlock--titleContainer
      %h2.textBlock--title
        = link_to text.title, text, title: text.title
    .scribeGrid--row.textBlock--subtitleContainer
      %h4.textBlock--subtitle.u-slimTitle.u-pullLeft{title: text.subtitle}= text.subtitle
    .scribeGrid--row.textBlock--sneakPeak
      = link_to Sanitize.clean(text.description).truncate(180, omission: '...'), text, title: text.title
    .scribeGrid--row.textBlock--detailsContainer
      - if text.tags.blank?
        %h4.u-centralized.textBlock--tagsInfo.u-lightFont.noTags= t(:no_tags)
      - unless text.tags.blank?
        %ul.textBlock--tagsInfo.u-horizontalMenu.u-clearfix
          - text.tags.each do |tag|
            %li.tag.light-tag= tag.name
      -unless text.is_draft
        %ul.u-horizontalMenu.u-clearfix.textBlock--shareMenu
          %li.socialBtn.socialBtn--facebook.readerIcons
            %a{href: "#", class: 'facebook-share', data: {href: text_url(text)}}= "Facebook"
          %li.socialBtn.socialBtn--twitter.readerIcons
            %a{href: "#", class: 'js-twitterShare', data: {text: "'#{URI.escape(text.title)} - #{t(:by)} #{text.user.twitter_user ? '@'<<text.user.twitter_user : text.user.name}'", via: "wescribeapp", shortener: shortener_url(text.id)}}= "Twitter"
          %li.socialBtn.socialBtn--gPlus.readerIcons
            %a{href: "#", class: 'js-gPlusShare', data: {url: text_url(text)}}= "Google +"
  .textBlock--aboutAuthor.scribeGrid--row
    %img.textBlock--authorPicture.u-pullLeft{src: "#{text.user.profile_photo.url(:thumbs)}", alt: "#{text.user.name}"}
    = link_to text.user.name, user_show_url(text.user), class: "textBlock--authorName scribeGrid--newMobileColumn6 u-pullLeft"
    = follow_unfollow_button(text.user) unless current_page?(timeline_url)